{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Subscription changed" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Subscription changed" %}</h1>
    </div>

    <div class="alert alert-success">
        {% blocktrans %}Your request for a change in your subscription has been processed successfully.{% endblocktrans %}
    </div>

    {% url subscription_list as plans_url %}
    {% blocktrans %}Return to the <a href="{{plans_url}}">plans page</a>.{% endblocktrans %}
{% endblock %}
