{% load astrobin_apps_images_tags %}
{% load cache %}
{% load common_tags %}
{% load i18n %}

{% if status != 'error' %}
    <div class="astrobin-image-container">

        {% if error_message %}
            <div class="alert alert-error">
                <h4 class="alert-heading">
                    <i class="icon-fire"></i> {% trans "Error!" %}
                </h4>
                {{error_message}}
            </div>
        {% endif %}

        {% random_id %}

        {% if alias != 'histogram' %}
            {% if link %}
            <a href="{{url}}{% if mod %}{% query_string "mod=mod" "" %}{% endif %}">
            {% endif %}

                {% if badges %}
                    <ul class="badges">
                        {% for badge in badges %}
                            {% if badge == 'iotd' and alias != 'regular' %}
                                <li class="iotd-thumb-banner">
                                    <h2>
                                        <i class="icon icon-trophy"></i>
                                    </h2>
                                </li>
                            {% endif %}

                            {% if badge == 'top100' %}
                                <li class="top100-badge{% if alias == 'regular' %} top100-badge-large{% endif %}">
                                    <h2>
                                        <span>Top</span>
                                        <span>100</span>
                                    </h2>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %} {# badges #}
        {% endif %} {# not histogram #}

            <img
                {% if thumb_url %}
                     src="{{thumb_url}}"
                     data-preloaded="true"
                     data-loaded="true"
                {% else %}
                     src="http://placehold.it/{{placehold_size}}/222/333&text={% trans "Loading" %}"
                     data-preloaded="false"
                     data-loaded="false"
                {% endif %}

                 class="astrobin-image{% if real %} real{% endif %}{% if show_tooltip %} capty{% endif %}"

                 {% if provide_size %}
                     width="{{size_x}}"
                     height="{{size_y}}"
                 {% endif %}

                 name="#capty-target-{{image.id}}-{{randomid}}"
                 data-id="{{image.id}}"
                 data-alias="{{alias}}"
                 data-revision="{{revision}}"
                 data-get-thumb-url="{{get_thumb_url}}"
                 alt="{{image.title|escape}}, {{image.user.userprofile}}" />

        {% if alias != 'histogram' and link %}
        </a>
        {% endif %}

        {% if alias == 'thumb' or alias == 'gallery' %}
            <div id="capty-target-{{image.id}}-{{randomid}}" class="capty-target">
            {% cache 43200 astrobin_image_capty capty_cache_key %}
                <div class="capty-caption-content">
                    <div class="link-overlay" style="width:{{size_x}}px; height:{{size_y}}px">
                        {% if link %}
                        <a href="{{url}}{% if mod %}{% query_string "mod=mod" "" %}{% endif %}">
                            &nbsp;
                        </a>
                        {% endif %}
                    </div>

                    {% if link %}
                    <a href="{{url}}{% if mod %}{% query_string "mod=mod" "" %}{% endif %}">
                    {% endif %}

                        {{image.title|escape|default:_("(no title)")}}

                    {% if link %}
                    </a>
                    {% endif %}
                    , {{image.user.userprofile}}

                    {% if alias == 'gallery' %}
                        <table class="table table-condensed">
                            <tr>
                                <th><i class="icon-calendar"></i></th>
                                <td>{{image.uploaded|date:"SHORT_DATE_FORMAT"}}</td>
                            </tr>

                            <tr>
                                <th><i class="icon-thumbs-up"></i></th>
                                <td>{{image.likes}}</td>
                            </tr>

                            <tr>
                                <th><i class="icon-bookmark"></i></th>
                                <td>{{image.bookmarks}}</td>
                            </tr>

                            {% if image.views %}
                                <tr>
                                    <th><i class="icon-eye-open"></i></th>
                                    <td>{{image.view}}</td>
                                </tr>
                            {% endif %}
                        </table>
                    {% endif %}
                </div>
            {% endcache %}
            </div>
        {% endif %}
    </div>
{% endif %}
