{% load common_tags %}
{% load i18n %}
{% load tags %}

{% if image.subject_type < 500 %}
<div class="row image-detail">
    <div class="span8">
        <div class="subtle-container image-detail-inner">
            <div class="header">
                <h4><i class="icon-list-alt"></i> {% trans "Technical card" %}</h4>
            </div>
            <div class="gear">
                <div class="gear-inner">
                    {% for i in gear_list %}
                        {% if i.1 %}
                            <p>
                              <strong>{% trans i.0 %}:</strong>
                              {% for g in i.1 %}
                                    <a rel="popover" class="gear-popover{% if g.commercial and g.commercial.is_paid or g.commercial.producer == request.user %} btn btn-mini btn-warning{% endif %}" data-load="{% url gear_popover_ajax g.id %}" href="{% url gear_page g.id g.slug %}">{{g}}</a>{% if not forloop.last %},&nbsp;{% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- gear -->

            <div class="acquisition">
                <div class="acquisition-inner">
                    {% if image_type == 'deep_sky' %}
                        {% for data in deep_sky_data %}
                            {% if data.1 %}
                                <p>
                                    <strong>{{data.0}}</strong>:
                                    {% if data.0 == dates_label %}
                                        {% for date in data.1 %}
                                            <a href="/search/{% query_string "q=, start_date=date, end_date=date" "plate_solving_started, r, mod" %}{% search_form_query %}">{{date|date:"DATE_FORMAT"}}</a>{% if not forloop.last %},&nbsp;{% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {{data.1|safe|linebreaksbr}}
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if ssa.date %}
                            <p><strong>{% trans "Date" %}</strong>: <a href="/search/{% query_string "q=, start_date=ssa.date, end_date=ssa.date" "plate_solving_started, r, mod" %}{% search_form_query %}">{{ssa.date|date:"DATE_FORMAT"}}</a></p>
                        {% endif %}
                        {% if ssa.time %}
                            <p><strong>{% trans "Time" %}</strong>: {{ssa.time}}</p>
                        {% endif %}
                        {% if ssa.frames %}
                            <p><strong>{% trans "Frames" %}</strong>: {{ssa.frames}}</p>
                        {% endif %}
                        {% if ssa.fps %}
                            <p><strong>{% trans "FPS" %}</strong>: {{ssa.fps}}</p>
                        {% endif %}
                        {% if ssa.focal_length %}
                            <p><strong>{% trans "Focal length" %}</strong>: {{ssa.focal_length}}</p>
                        {% endif %}
                        {% if ssa.cmi %}
                            <p><strong>{% trans "CMI" %}</strong>: {{ssa.cmi}}</p>
                        {% endif %}
                        {% if ssa.cmii %}
                            <p><strong>{% trans "CMII" %}</strong>: {{ssa.cmii}}</p>
                        {% endif %}
                        {% if ssa.cmiii %}
                            <p><strong>{% trans "CMIII" %}</strong>: {{ssa.cmiii}}</p>
                        {% endif %}
                        {% if ssa.seeing %}
                            <p><strong>{% trans "Seeing" %}</strong>: {{ssa.seeing}}</p>
                        {% endif %}
                        {% if ssa.transparency %}
                            <p><strong>{% trans "Transparency" %}</strong>: {{ssa.transparency}}</p>
                        {% endif %}
                    {% endif %}

                    {% if instance_to_platesolve.solution and instance_to_platesolve.solution.ra %}
                        <p><strong>{% trans "RA center" %}</strong>: {{instance_to_platesolve.solution.ra}} {% trans "degrees" %}</p>
                        <p><strong>{% trans "DEC center" %}</strong>: {{instance_to_platesolve.solution.dec}} {% trans "degrees" %}</p>
                        {% if instance_to_platesolve.solution.pixscale and instance_to_platesolve.solution.pixscale != 0 %}
                            <p><strong>{% trans "Pixel scale" %}</strong>: {{instance_to_platesolve.solution.pixscale}} {% trans "arcsec/pixel" %}</p>
                        {% endif %}
                        <p><strong>{% trans "Orientation" %}</strong>: {{instance_to_platesolve.solution.orientation}} {% trans "degrees" %}</p>
                        <p><strong>{% trans "Field radius" %}</strong>: {{instance_to_platesolve.solution.radius}} {% trans "degrees" %}</p>
                    {% endif %}

                    {% if locations %}
                        <p><strong>{% trans "Locations" %}</strong>: {{locations}}</p>
                    {% endif %}
                </div> <!-- acquisition-inner -->
            </div> <!-- acquisition -->
        </div> <!-- image-detail-inner -->
    </div> <!-- span8 -->
</div> <!-- row image-detail -->
{% endif %} {# image.subject_type < 500 #}

