{% extends 'error_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Fatal Error{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4 offset1">
            <h1>
                {% trans "Fatal error" %}
                <small>
                    ({% trans "Nothing to worry about, it's not your fault." %})
                </small>
            </h1>

            <p>
                {% blocktrans %}Something unexpected occurred! We have received an email with technical details, so we will try to fix the problem as soon as possible. Sorry about the inconvenience! {% endblocktrans %}
            </p>
            <p>
                <a href="{% url index %}">{% trans "Go back to the home page." %}</a>
            </p>
        </div>
        <div class="span5 offset1">
            <img src="{% get_static_prefix %}images/500.png" alt="500" />
        </div>
    </div>
{% endblock %}
