{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "FAQ" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h2>{% trans "Frequently Asked Questions" %}</h2>
            <ol>
                <li><a href="#free">{% blocktrans %}Is this website for free?{% endblocktrans %}</a></li>
                <li><a href="#limits">{% blocktrans %}Are there any limits on how large and how many images I can upload?{% endblocktrans %}</a></li>
                <li><a href="#formats">{% blocktrans %}What image formats are supported?{% endblocktrans %}</a></li>
                <li><a href="#safe">{% blocktrans %}Is my data safe on AstroBin?{% endblocktrans %}</a></li>
                <li><a href="#worthy">{% blocktrans %}I've seen beautiful images on this site. I'm not worthy of posting mine!{% endblocktrans %}</a></li>
                <li><a href="#staging">{% blocktrans %}What's the deal with the Staging Area and the Public Area?{% endblocktrans %}</a></li>
                <li><a href="#why">{% blocktrans %}Why was AstroBin created?{% endblocktrans %}</a></li>
                <li><a href="#plans">{% blocktrans %}What are the plans for the future?{% endblocktrans %}</a></li>
                <li><a href="#comments">{% blocktrans %}How can I format my comments?{% endblocktrans %}</a></li>
                <li><a href="#indexhow">{% blocktrans %}How is the AstroBin index calculated?{% endblocktrans %}</a></li>
                <li><a href="#indexslow">{% blocktrans %}I received some Likes, why is my AstroBin index not updated?{% endblocktrans %}</a></li>
                <li><a href="#iotd">{% blocktrans %}How is the Image of the Day selected?{% endblocktrans %}</a></li>
            </ol>
            <br/>
            <h2>{% trans "... and their answers!" %}</h2>
            <ol class="faq">
                <li>
                    <a name="free"></a>
                    <h4>{% blocktrans %}Is this website for free?{% endblocktrans %}</h4>
                    <p>{% blocktrans %}No. A free account will let you upload up to 10 images, and partake in all social activities. For unlimited storage, you will need a premium subscription.{% endblocktrans %}</p>
                </li>
                <li>
                    <a name="limits"></a>
                    <h4>{% blocktrans %}Are there any limits on how large and how many images I can upload?{% endblocktrans %}</h4>
                    <p>
                    {% blocktrans %}<strong>NO!</strong> If you are a premium member, on AstroBin you can upload as many images as you want, and as large as you want. In fact, full size images are encouraged!{% endblocktrans %}
                    </p>
                </li>
                <li>
                    <a name="formats"></a>
                    <h4>{% blocktrans %}What image formats are supported?{% endblocktrans %}</h4>
                    <p>
                    {% blocktrans %}AstroBin will accept JPEG, PNG and GIF. Animated GIF is supported too.{% endblocktrans %}
                    </p>
                </li>
                <li>
                    <a name="safe"></a>
                    <h4>{% blocktrans %}Is my data safe on AstroBin?{% endblocktrans %}</h4>
                    <p>
                    {% trans "Absolutely. There are multiple ways in which AstroBin can store your data very safely. First of all, the images you upload are stored on a highly durable, highly available, redundant backend. The durability of the storage backend is 99.999999999 percent over a given year. This means that if you upload 10,000 images, you can expect to lose one image to data corruption once in 10,000,000 year. The images are duplicated across two different physical servers, for protection against natural disasters." %}
                    </p>
                    <p>
                    {% blocktrans %}The actual website, instead, is hosted on a Virtual Machine, so, in case of severe hardware failure, it can be redeployed to a different server in a matter of 15 minutes.{% endblocktrans %}
                    </p>
                    <p>
                    {% blocktrans %}Finally, the database that powers AstroBin (in fact, the whole Virtual Machine) is backed up daily. In case of severe data loss, the website will be quickly restored to a snapshot that's never older than 24 hours.{% endblocktrans %}
                    </p>
                    <p>
                    {% blocktrans %}That said, you should be aware that AstroBin is not a backup service, and although your data is very safe in our hands, we cannot legally take responsibility in the event of loss, however unlikely it is. Always keep a copy of your image on your computer.{% endblocktrans %}
                    </p>
                </li>
                <li>
                    <a name="worthy"></a>
                    <h4>{% blocktrans %}I've seen beautiful images on this site. I'm not worthy of posting mine!{% endblocktrans %}</h4>
                    <p>
                    {% blocktrans %}Nonsense. AstroBin has <strong>not</strong> been made to showcase beautiful image, but to give everybody an opportunity to contribute to a vast and evergrowing effort of centralization and indexing of important data. That 30 minute picture of M31 you took last night between the clouds <em>belongs</em> here! Don't be shy and post it!{% endblocktrans %}
                    </p>
                </li>
                <li>
                    <a name="staging"></a>
                    <h4>{% blocktrans %}What's the deal with the Staging Area and the Public Area?{% endblocktrans %}</h4>
                    <p>
                    {% blocktrans %}On AstroBin you have two places for our images. The Staging Area is where you can upload images that you want to quickly share on forums, mailing lists or social networks. The days of scaling down and compressing your image so you can upload it to a forum for feedback and critique are over! Just upload to AstroBin's Staging Area, and send the link to anyone you want. The image will be visible only to the intended recipients, and won't appear on your profile or AstroBin's home page.{% endblocktrans %}
                    </p>
                    <p>
                    {% blocktrans %}The Public Area, instead, is for your finished products. After you have received feedback on your favorite forum, you can promote an image from the Staging Area to the Public Area, and it will appear on your profile. Remember that you can also move images back and forth from one Area to the other as many times as you want!{% endblocktrans %}
                    </p>
                </li>
                <li>
                    <a name="why"></a>
                    <h4>{% blocktrans %}Why was AstroBin created?{% endblocktrans %}</h4>
                    <p>
                    {% blocktrans %}AstroBin was born out of the desire to end something that had been going on for too long: the waste of incredible material to the sea of chaos that the Internet can be. For years, fantastic astrophotographs have beeen uploaded to Internet Forums, often with little or no data, or to general purpose image hosting websites, invariably with no data attached.{% endblocktrans %}
                    </p>
                    <p>
                    {% blocktrans %}Such an image would be seen by some people, then quickly forgotten, and reduced to nothing more than a bunch of pixel in the giant wasteland of the Internet.{% endblocktrans %}
                    </p>
                    <p>
                    {% blocktrans %}This should not be allowed to happen. AstroBin is the response: an effort to host, collect, index and categorize the output of the astrophotographers all over the world, so that their precious data would serve a purpose, and have a meaning forever.{% endblocktrans %}
                    </p>
                </li>
                <li>
                    <a name="plans"></a>
                    <h4>{% blocktrans %}What are the plans for the future?{% endblocktrans %}</h4>
                    <p>
                    {% blocktrans %}<em>AstroBin</em> is just starting out, and this time we can really say that the sky is the limit! Tons of ideas are in the pipeline. As the user base grows, so does the data. Suddenly, things like automated supernovae search become possible: you could simply upload an image of a galaxy, and AstroBin could compare it to pictures of the same galaxy taken previously.{% endblocktrans %}
                    </p>
                    <p>
                    {% blocktrans %}AstroBin could also recommend subjects for you to image! Knowing your equipment, your location, and comparing what you have imaged to what users similar to you have, AstroBin could suggest your next challenge!{% endblocktrans %}
                    </p>
                    <p>
                    {% blocktrans %}Thanks to the input from the community, more ideas are flowing in and the list get bigger and bigger.{% endblocktrans %}
                    </p>
                </li>
                <li>
                    <a name="comments"></a>
                    <h4>{% blocktrans %}How can I format my comments?{% endblocktrans %}</h4>
                    <p>
                    {% blocktrans %}AstroBin uses the Markdown syntax. Please use the following reference table:{% endblocktrans %}
                    </p>
                    <table class="table table-condensed">
                        <tr><td><strong>{% trans "You type:" %}</strong</td><td><strong>{% trans "You see:" %}</strong></td></tr>
                        <tr><td>*{% trans "italics" %}*</td><td><i>{% trans "italics" %}</i></td></tr>
                        <tr><td>**{% trans "bold" %}**</td><td><strong>{% trans "bold" %}</strong></td></tr>
                        <tr><td>[AstroBin!](http://astrobin.com)</td><td><a href="http://astrobin.com">AstroBin!</a></td></tr>
                        <tr><td><i>{% trans "(TAB or 4 spaces)" %}</i> {% trans "preformatted text" %}</td><td><tt>{% trans "preformatted text" %}</tt></td></tr>
                        <tr><td>&gt; {% trans "quoted text" %}</td><td>| <i>{% trans "quoted text" %}</i></td></tr>
                        <tr><td>\*{% trans "escape the formatting syntax" %}\*</td><td>*{% trans "escape the formatting syntax" %}*</td></tr>
                    </table>
                </li>
                <li>
                    <a name="indexhow"></a>
                    <h4>{% blocktrans %}How is the AstroBin index calculated?{% endblocktrans %}</h4>
                    <p>
                    {% blocktrans %}The AstroBin index is a function of the number of Likes and the number of images posted by a user.{% endblocktrans %}
                    </p>
                </li>

                <li>
                    <a name="indexslow"></a>
                    <h4>{% blocktrans %}I received some Likes, why is my AstroBin index not updated?{% endblocktrans %}</h4>
                    <p>
                    {% blocktrans %}Because it's computationally expensive, the AstroBin index is updated only every 24 hours. The same applies for the search index, the Big Wall, and some other user data.{% endblocktrans %}
                </li>

                <li>
                    <a name="iotd"></a>
                    <h4>{% blocktrans %}How is the Image of the Day selected?{% endblocktrans %}</h4>
                    <p>
                    {% blocktrans %}Every night, an algorithm looks at the images uploaded during the previous 7 days. The 20 most liked images in that time window are presented each morning to an appointed person that selects one according to personal preference.{% endblocktrans %}
                    </p>
                </li>
            </ol>
            <br/>
            <p>
                {% blocktrans %}Do you have a question not covered here! Please <a href="/contact/">contact us</a>!{% endblocktrans %}
            </p>
        </div> <!-- span -->
    </div> <!-- row -->
{% endblock %}

