{% load i18n %}
{% load url from future %}

<footer>
    {% block footer %}
    <div class="container">
        <div class="row hidden-phone">
            <div class="span3">
                <h3>{% trans "About" %}</h3>
                <p>
                {% trans "AstroBin is an image hosting website specifically targeted to astrophotographers: it's the first and the last place where you need to upload your astrophotography images. Made by an astrophotographer, for the astrophotographers." %}
                </p>
            </div>
            <div class="span3">
                <h3>{% trans "Site links" %}</h3>
                <ul>
                    <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                    <li><a href="/blog/">{% trans "Blog" %}</a></li>
                    <li><a href="{% url 'pybb:index' %}">{% trans "Forum" %} (beta)</a></li>
                    <li><a href="{% url 'help' %}">{% trans "Help" %}</a></li>
                    <li><a href="{% url 'faq' %}">{% trans "FAQ" %}</a></li>
                    <li><a href="{% url 'tos' %}">{% trans "Terms of Service" %}</a></li>
                    <li><a href="{% url 'guidelines' %}">{% trans "Guidelines" %}</a></li>
                    <li>
                        <a href="https://bitbucket.org/siovene/astrobin/overview" target="_blank">
                            {% trans "Source code" %}
                        </a>
                    </li>

                </ul>
            </div>
            <div class="span3">
                <h3>{% trans "Thanks to" %}</h3>
                <ul>
                    <li>{% trans "The localization team" %}: <a href="/users/PepeChambo">Jos&eacute; J. Chamb&oacute;</a>, <a href="/users/Tannhauser">Jean-Charles Schmidt</a>, <a href="/users/OrionRider">Laurent Schmitz</a>, <a href="/users/Vostok/">Lauri Kangas</a>, <a href="/users/naavis/">Samuli Vuorinen</a>, <a href="/users/ketarax/">Jussi Kantola</a>, <a href="/users/KoenDierckens/">Koen Dierckens</a>, <a href="http://lambermont.dyndns.org/astro/" target="_blank">Hans Lambermont</a>, <a href="http://strehl1.de" target="_blank">Michael Wilk</a>, <a href="/users/stimpy/">Marc Demierre</a>, <a href="/users/kalle66/">Rinke Kallenkoot</a>, <a href="/users/leonh/">Leon Handreke</a>, <a href="/users/bilgebay/">Sedat Bilgebay</a>, <a href="/users/onuratilgan/">Onur Atilgan</a>, <a href="/users/guvenozkan/">Güven Özkan</a>, <a href="/users/castle/">Ahmet Kale</a>, <a href="/users/AstroAlb/">Ardian Xherrahi</a>, <a href="/users/milosz/">Milosz Wasilewski</a>, <a href="/users/GlaucoH/">Glauco Hass</a>, <a href="/users/kookoo_gr/">Konstantinos Stavropoulos</a>, <a href="/users/sypai/">Pavel Syrin</a>, <a href="/users/ohmishonin/">Ken-ichiro Tanaka</a>, <a href="/users/Lukasz83/">Łukasz Sujka</a>.</li>
                    <li><a href="http://astrometry.net/" target="_blank">Astrometry.net</a></li>
                </ul>
            </div>
            <div class="span3">
                <h3>{% trans "Copyright" %}</h3>
                <p>
                {% blocktrans %}The images on this websites are copyright of their respective owners.{% endblocktrans %}
                </p>
            </div>
        </div> <!-- row -->

        <div class="row bottom">
            <div class="span8">
                <p>&copy; 2010-{% now "Y" %} <a href="/users/siovene/">Salvatore Iovene</a></p>
            </div>
            <div class="span4">
                <a href="{% url 'index' %}">{% trans "Home" %}</a> /
                <a href="http://facebook.com/astrobin" target="_blank">Facebook</a> /
                <a href="https://plus.google.com/u/0/b/105764284631954214838/" target="_blank">Google+</a> /
                <a href="http://twitter.com/astrobin_com" target="_blank">Twitter</a> /
                <a href="#top" class="back-to-top">{% trans "Back to top" %}</a>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    {% endblock %}
</footer>

