{% load url from future %}
{% load i18n pybb_tags %}
{% load avatar_tags %}

{% pybb_get_profile user=post.user as post_user_profile %}
{% pybb_get_profile user=user as user_profile %}

<a name="post-{{ post.id }}"></a> {# may be remove this string? #}
<table class="table post {% if post.on_moderation %}on-moderation{% endif %}" id="post-{{ post.id }}">
    <thead class="post-header">
    <tr>
    <th>
        {% avatar post.user 60 %}
        <div class="post-author">
            <a href="{% url 'user_page' post.user.username %}">
                {{post.user.userprofile}}
            </a>
        </div>
        <div class="post-updated">
            <a class="permalink" href="{{ post.get_absolute_url }}">#</a>
            {% pybb_time post.created %}
        </div>
    </th>
    </tr>
    </thead>
    <tbody>
    <tr class="post-row">
        <td class="post-content">
            {{ post.body_html|safe }}

            {% if not user.is_authenticated or user_profile.show_signatures %}
                {% if post_user_profile.signature %}
                    <div class="post-signature">
                        {{ post_user_profile.signature_html|safe }}
                    </div>
                {% endif %}
            {% endif %}
            {% if post.updated %}
                <div class="updated-message">{% trans "Edited" %} {% pybb_time post.updated %}</div>
            {% endif %}

            <div class="post-related">
                {% if user|pybb_may_create_post:post.topic %}
                    <a href="{% url 'pybb:add_post' topic.id %}?quote_id={{ post.id }}" class="btn btn-mini bb-quote-link">{% trans "quote" %}</a>
                    <a href="#" class="btn btn-mini bb-quote-selected-link">{% trans "quote selected" %}</a>
                {% endif %}

                {% if user.is_moderator or post|pybb_posted_by:user %}
                    <a class="btn btn-mini btn-primary" href="{% url 'pybb:edit_post' pk=post.id %}">{% trans "Edit" %}</a>
                {% endif %}
                {% if user.is_moderator %}
                    <a class="btn btn-mini btn-danger" onclick="pybb_delete_post('{% url 'pybb:delete_post' post.id %}',
                            'post-{{ post.id }}', '{% trans 'Delete post?' %}'); return false;"
                       href="{% url 'pybb:delete_post' post.id %}">{% trans "Delete" %}</a>
                    {% if post.on_moderation %}
                        <a class="btn btn-mini btn-danger" href="{% url 'pybb:moderate_post' pk=post.id %}">{% trans "Approve post" %}</a>
                    {% endif %}
                {% endif %}

                {% if perms.pybb.change_post and user.is_staff %}
                    <a class="btn btn-mini btn-danger" href="{% url 'admin:pybb_post_change' post.id %}">{% trans 'Admin' %}</a>
                {% endif %}
            </div>
        </td>
    </tr>
    </tbody>
</table>
