{% extends 'pybb/base.html' %}

{% load url from future %}

{% load pybb_tags i18n %}

{% block title %}{% trans "Topics you subscribe to" %}{% endblock title %}

{% block breadcrumb %}
    {% with extra_crumb=_("Topics you subscribe to") %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="forum">
        {% if forum.headline %}
            <div class="forum-headline alert alert-block">
                {{ forum.headline|safe }}
            </div>
        {% endif %}

        {% include "pybb/pagination.html" %}

        {% include "pybb/topic_list.html" %}

        {% include "pybb/pagination.html" %}

        {% if user.is_authenticated %}
            <div id='mark-all-as-read'>
                <a href='{% url 'pybb:mark_all_as_read' %}'>
                    {% trans "Mark all topics as read" %}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
