@import 'elements.less';

/* Color palette: http://www.colourlovers.com/palette/322645/Mambo_For_Cats */
@background-color: #333333;
@link-color: #CC4B2E;
@strong-text-color: #FCFCFC;
@logo-color: #3092CF;

@header-color: @strong-text-color;
@text-color: @strong-text-color - #444;
@input-color: @background-color;

@hilight-factor: 1.12;
@strong-hilight-factor: 1.25;
@strongest-hilight-factor: 1.4;
@border-color: @background-color / @hilight-factor;
@border-bottom-color: @background-color * @strong-hilight-factor;
@border-top-color: @background-color * @strongest-hilight-factor;
@border-color-inverted: @strong-text-color;
@border-shadow-color: @background-color / @strong-hilight-factor;
@border-shadow-color-inverted: @text-color + #030303;
@dark-panel-color: @background-color / @hilight-factor;
@regular-panel-color: @background-color / ((1 + @hilight-factor) / 2);
@light-panel-color: @background-color * @hilight-factor;
@light-panel-border-color: @background-color / @strong-hilight-factor;

@base-font-size: 13px;
@spacer-small: 4px;
@spacer-xsmall: @spacer-small * .5;
@spacer-medium: @spacer-small * 2;
@spacer-large: @spacer-small * 3;
@spacer-xlarge: @spacer-small * 4;
@spacer-xxlarge: @spacer-small * 7;
@spacer-xxxlarge: @spacer-small * 13;

@headers_font: Georgia, Times, serif;
@regular_font: Helvetica, Arial, sans-serif;

strong, .strong {
    font-weight: bold;
}

abbr[title] {
    border-color: #555;
}

.rounded-corners (@radius: 6px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
     border-radius: @radius;}

.rounded-corners-top (@radius: 6px) {
    -moz-border-radius: @radius @radius 0 0;
    -webkit-border-radius: @radius @radius 0 0;
     border-radius: @radius @radius 0 0;}

.rounded-corners-bottom (@radius: 6px) {
    -moz-border-radius: 0 0 @radius @radius;
    -webkit-border-radius: 0 0 @radius @radius;
     border-radius: 0 0 @radius @radius;}

.rounded-corners-left (@radius: 6px) {
    -moz-border-radius: @radius 0 0 @radius;
    -webkit-border-radius: @radius 0 0 @radius;
     border-radius: @radius 0 0 @radius;}

.rounded-corners-right (@radius: 6px) {
    -moz-border-radius: 0 @radius @radius 0;
    -webkit-border-radius: 0 @radius @radius 0;
     border-radius: 0 @radius @radius 0;}

.rounded-corners-bottom-right (@radius: 6px) {
    -moz-border-radius: 0 @radius @radius @radius;
    -webkit-border-radius: 0 @radius @radius @radius;
     border-radius: 0 @radius @radius @radius;}

.rounded-corners-bottom-left (@radius: 6px) {
    -moz-border-radius: @radius 0 @radius @radius;
    -webkit-border-radius: @radius 0 @radius @radius;
     border-radius: @radius 0 @radius @radius;}

.box-shadow {
    -webkit-box-shadow: rgba(0,0,0,0.8) 0 1px 5px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 1px 5px;
    box-shadow: rgba(0,0,0,0.8) 0 1px 5px;}

.box-shadow-subtle {
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 2px 4px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 2px 4px;
    box-shadow: rgba(0,0,0,0.3) 0 2px 4px;}

.bottom-box-shadow {
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 6px 18px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 6px 18px;
    box-shadow: rgba(0,0,0,0.2) 0 6px 18px;}

.small-bottom-box-shadow {
    -webkit-box-shadow: rgba(0,0,0,0.4) 0 6px 6px;
    -moz-box-shadow: rgba(0,0,0,0.4) 0 6px 6px;
    box-shadow: rgba(0,0,0,0.4) 0 6px 6px;}

.no-box-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;}

.text-shadow {
    text-shadow: rgba(0,0,0,0.8) 0 1px 1px;}
.text-shadow-subtle {
    text-shadow: rgba(0,0,0,0.2) 0 3px 3px;}

.common-border {
    border: 1px solid @border-color;
    -webkit-box-shadow: inset rgba(255,255,255,0.1) 0 1px 2px;
       -moz-box-shadow: inset rgba(255,255,255,0.1) 0 1px 2px;
            box-shadow: inset rgba(255,255,255,0.1) 0 1px 2px;
}

.stitched-box {
    margin-bottom: @spacer-small;
    padding: @spacer-medium;
    border: 1px dashed @border-top-color * @hilight-factor;
    .box-shadow-subtle;
}

.opacity(@amount: 1) {
  /* Netscape */
  -moz-opacity: @amount;

  /* Safari 1.x */
  -khtml-opacity: @amount;

  /* Good browsers */
  opacity: @amount;
}

.grayscale {
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    -webkit-filter: grayscale(100%);
}

.js {
    display: none;}

/*
Uniform Theme: Uniform Default
Version: 1.6
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
---
Generated by Uniform Theme Generator:
http://pixelmatrixdesign.com/uniform/themer.html

*/

/* Global Declaration */

div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader span.filename,
div.uploader span.action,
div.button,
div.button span {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}

.selector,
.radio,
.checker,
.uploader,
.button,
.selector *,
.radio *,
.checker *,
.uploader *,
.button *{
  margin: 0;
  padding: 0;
}

/* INPUT & TEXTAREA */

input.text,
input.email,
input.password,
textarea.uniform {
  font-size: @base-font-size;
  font-weight: normal;
  padding: 3px;
  color: @background-color;
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
  background: url('../images/uniform/bg-input.png') repeat-x 0px 0px;
  .rounded-corners(3px);
  outline: 0;
}

input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
  .box-shadow;
}

input[readonly], input:focus[readonly] {
    color: @text-color / @strong-hilight-factor;
    background: @background-color / @strong-hilight-factor;}

/* SPRITES */

/* Select */

div.selector {
  background-position: -483px -130px;
  line-height: 26px;
  height: 26px;
}

div.selector span {
  background-position: right 0px;
  height: 26px;
  line-height: 26px;
}

div.selector select {
  /* change these to adjust positioning of select element */
  top: 0px;
  left: 0px;
}

div.selector:active,
div.selector.active {
  background-position: -483px -156px;
}

div.selector:active span,
div.selector.active span {
  background-position: right -26px;
}

div.selector.focus, div.selector.hover, div.selector:hover {
  background-position: -483px -182px;
}

div.selector.focus span, div.selector.hover span, div.selector:hover span {
  background-position: right -52px;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: -483px -208px;
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -78px;
}

div.selector.disabled {
  background-position: -483px -234px;
}

div.selector.disabled span {
  background-position: right -104px;
}

/* Checkbox */

div.checker {
  width: 19px;
  height: 19px;
  padding: @spacer-medium 0;
}

div.checker input {
  width: 19px;
  height: 19px;
}

div.checker span {
  background-position: 0px -260px;
  height: 19px;
  width: 19px;
}

div.checker:active span,
div.checker.active span {
  background-position: -19px -260px;
}

div.checker.focus span,
div.checker:hover span {
  background-position: -38px -260px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -57px -260px;
}

div.checker span.checked {
  background-position: -76px -260px;
}

div.checker:active span.checked,
div.checker.active span.checked {
  background-position: -95px -260px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
  background-position: -114px -260px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -133px -260px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
  background-position: -152px -260px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
  background-position: -171px -260px;
}

/* Radio */

label.radio {
    width: 100%;
}

div.radio {
  width: 18px;
  height: 18px;
}

div.radio input {
  width: 18px;
  height: 18px;
}

div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -279px;
}

div.radio:active span,
div.radio.active span {
  background-position: -18px -279px;
}

div.radio.focus span,
div.radio:hover span {
  background-position: -36px -279px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -54px -279px;
}

div.radio span.checked {
  background-position: -72px -279px;
}

div.radio:active span.checked,
div.radio.active span.checked {
  background-position: -90px -279px;
}

div.radio.focus span.checked, div.radio:hover span.checked {
  background-position: -108px -279px;
}

div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -126px -279px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
  background-position: -144px -279px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
  background-position: -162px -279px;
}

/* Uploader */

div.uploader {
  height: 28px;
}

div.uploader span.action {
  background-position: right -409px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}

div.uploader span.filename {
  height: 24px;
  background-position: 0px -299px;
  cursor: pointer;
  /* change this line to adjust positioning of filename area */
  margin: 2px 0px 2px 2px;
  line-height: 24px;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -353px;
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -437px;
}

div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -465px;
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -493px;
}

div.uploader.disabled {
  background-position: 0px -325px;
}

div.uploader.disabled span.action {
  background-position: right -381px;
}

div.button {
  background-position: 0px -523px;
}

div.button span {
  background-position: right -643px;
}

div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover {
  background-position: 0px -553px;
}

div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
  background-position: right -673px;
}

div.button.active,
div.button:active {
  background-position: 0px -583px;
}

div.button.active span,
div.button:active span {
  background-position: right -703px;
  color: @background-color;
}

div.button.disabled,
div.button:disabled {
  background-position: 0px -613px;
}

div.button.disabled span,
div.button:disabled span {
  background-position: right -733px;
  color: @background-color / @strong-hilight-factor;
  cursor: default;
}

/* PRESENTATION */

/* Button */

div.button {
  height: 30px;
}

div.button span {
  margin-left: 13px;
  height: 22px;
  padding-top: 8px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: @base-font-size;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 2px;
  padding-right: 15px;
}

/* Select */
div.selector {
  width: 190px;
  margin-top: @spacer-small;
  font-size: @base-font-size;
}

div.selector select {
  min-width: 190px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: @base-font-size;
}

div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}

div.selector span {
  color: @background-color;
  width: 158px;
  .text-shadow;
}

div.selector.disabled span {
  color: #bbb;
}

/* Checker */
div.checker {
  margin-right: 5px;
}

/* Radio */
div.radio {
  margin-right: 3px;
}

/* Uploader */
div.uploader {
  cursor: pointer;
}

div.uploader span.action {
  width: 85px;
  text-align: center;
  .text-shadow;
  color: @background-color * @hilight-factor;
  font-size: 11px;
  font-weight: bold;
}

div.uploader span.filename {
  color: @background-color * @hilight-factor;
  width: 82px;
  font-size: 11px;
}

div.uploader input {
  width: 190px;
}

div.uploader.disabled span.action {
  color: #aaa;
}

div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector,
.checker,
.button,
.radio,
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  display: inline;
}

.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
  outline: 0;
}

/* Button */

div.button a,
div.button button,
div.button input {
  position: absolute;
}

div.button {
  cursor: pointer;
  position: relative;
}

div.button span {
  display: -moz-inline-box;
  display: inline-block;
  line-height: 1;
  text-align: center;
}

/* Select */

div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}

div.selector span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.selector select {
  position: absolute;
  .opacity(0);
  height: 25px;
  border: none;
}

/* Checker */

div.checker {
  position: relative;
}

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.checker input {
  .opacity(0);
  display: inline-block;
  background: none;
}

/* Radio */

div.radio {
  position: relative;
}

div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.radio input {
  .opacity(0);
  text-align: center;
  display: inline-block;
  background: none;
}

/* Uploader */

div.uploader {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 0px;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

div.uploader input {
  .opacity(0);
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  float: right;
  height: 25px;
  border: none;
  cursor: pointer;
}

/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */

body {
    background: @light-panel-color url('../images/background-tile.png');
    padding-top: 55px;
}
body.full {
    padding-top: 0;
}

#navbar-user-scores {
    font-size: 66%;
    color: #F2CEB8;
    font-weight: bold;
    padding-left: 4px;
    vertical-align: middle;

    span {
        border-bottom: 1px dotted #D99560;
    }
}

@media screen and (max-width: 979px) {
    body {
        padding-top: 0;
    }

    .navbar {
        .nav {
            margin: 5px;
        }
        input {
            width: 100%;
        }
        .btn-navbar {
            margin-right: 16px;
            position: absolute;
            top: 12px;
            left: 40px;

            .text {
                color: @strong-text-color;
                text-shadow: none;
                position: absolute;
                top: 4px;
                left: 34px;
            }
            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
}

.modal {
    background: @dark-panel-color url('../images/dark-panel-tile.png');
    border: none;
    .box-shadow;
    .rounded-corners;

    .modal-header {
        background: #303030 url('../images/darker-panel-tile.png');
        .rounded-corners-top;
        border-bottom: #404040;

        h3 {
            margin: 0;
            padding: 0;
            font-size: @base-font-size;

            [class^="icon-"], [class*=" icon-"] {
                padding-right: 8px;
            }
        }

        .close {
            color: white;
        }
    }

    .modal-body {
        small {
            font-size: 87.5%;
            color: darken(@text-color, 15%);
        }
    }

    .modal-footer {
        background: #303030 url('../images/darker-panel-tile.png');
        border-top: 1px solid #303030;
        .no-box-shadow;
    }

    .form-inline {
        display: table;
        width: auto;
        margin: 0 auto;
    }
}

.navbar-fixed-top .container {
    max-height: 40px;
}

@media screen and (max-width: 979px) {
    .navbar-fixed-top .container {
        max-height: inherit;
    }
}

.nav-pills.nav-stacked, .nav-tabs.nav-stacked {
  .icon-chevron-right {
    float: right;
    margin-top: 1px;
    margin-right: -6px;
    .opacity(0.5);
  }
}

.nav-tabs li a {
    border-color: #404040 !important;
}

.nav-tabs .active a,
.nav-tabs .active a:hover,
.nav-tabs .active a:focus {
    background-color: #ddd;
    color: #222;
    font-style: italic;
    font-weight: bold;
}

.navbar .navbar-inner {
    border-top: 4px solid #3092cf;
    background: #303030 url('../images/darker-panel-tile.png');
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 1);
       -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 1);
            box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.navbar .nav > li > a {
    color: @link-color;
    padding: 12px;
    &:hover {
        color: darken(@link-color, 5%);
    }
}

.dropdown-menu > li > a {
    color: @background-color;

    strong {
        color: @background-color;
    }
}

.navbar .nav .dropdown-toggle .icon-caret-down, .navbar .nav .open.dropdown .icon-caret-down {
    font-size: 10px;
}

.navbar .nav .dropdown-toggle.btn-primary .icon-caret-down, .navbar .nav .open.dropdown.btn-primary .icon-caret-down {
    border-top-color: @strong-text-color;
    border-bottom-color: @strong-text-color;
    font-size: 10px;
}

.navbar .nav .open.dropdown .dropdown-toggle,
.navbar .nav .open.dropdown .dropdown-toggle:hover {
    background-color: #222;
}

.navbar-search {
    margin-top: 7px;
    margin-bottom: -6px;
}
.navbar input {
    color: #b8b8b8;
    background-color: #404040;
    border-color: #333;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    width: 120px;
}

.navbar .bubble input {
    .rounded-corners(2px);
    width: auto;
    color: #555;
    border-color: #aaa;
    padding: 2px 6px;
}

.site-nav.nav-collapse,
.user-nav.nav-collapse { overflow: visible; } /* Fixes dropdowns on IE */

.user-nav .user-dropdown {
    min-height: 19px;
}

@media screen and (max-width: 979px) {
    .site-nav.nav-collapse,
    .user-nav.nav-collapse {
        overflow: hidden;
        z-index: 1021;

        .nav > li > a, .dropdown-menu a {
            font-weight: normal;
            color: #bbb !important;
        }
    }

    .site-nav.nav-collapse {
        position: absolute;
        top: 50px;
        left: 45px;
        background: #333;
    }

    .user-nav .dropdown-menu {
        z-index: 1021;
    }
}


/* Subnav */
.subnav {
  width: 100%;
  height: 25px;
  background: @link-color url('../images/orange-panel-tile.png');
  border-top: 1px solid darken(@link-color, 5%);
  border-bottom: 1px solid darken(@link-color, 5%);
  .box-shadow-subtle;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    5px;
  padding-bottom: 5px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  color: @strong-text-color;
}
.subnav .nav > li > a:hover {
  color: #fff;
  background: darken(@link-color, 5%);
}
.subnav .nav .open .dropdown-toggle, .subnav .nav .open .dropdown-toggle:hover {
  background: darken(@link-color, 5%);
}

.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  kwebkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
  background: darken(@link-color, 5%);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: @strong-text-color;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  padding-left: 10px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
.subnav .dropdown-toggle .caret,
.subnav .dropdown-toggle:hover .caret {
  border-top-color: @strong-text-color;
}
.subnav .dropdown-menu {
  top: 100%;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.subnav .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.subnav .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
.subnav-fixed {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  .rounded-corners-top;
}
.subnav-fixed .nav {
  margin: 0 auto;
  padding: 0 31px;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.dropdown-menu {
    max-width: 940px;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #CC4B2E;
}

// Won't be needed anymore in bootstrap 2.1.0
// https://github.com/twitter/bootstrap/issues/2764
.nav li.disabled {
  pointer-events: none;

  a {
    color: #ccc;
  }
}
.nav li.disabled > a:hover {
  cursor: default;
  text-decoration: none;
  background-color: inherit;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
    margin-left: 5px;
}
.astrobin-container {
    position: relative;
    padding: 34px 30px 30px 30px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    background: #333 url('../images/dark-panel-tile.png');
    .rounded-corners;
}

ul.astrobin-thumbnails {
    margin-left: 0;
}
li.astrobin-thumbnail {
    position: relative;
    padding: 2px;
    margin: 0;
    border: 0;
    .no-box-shadow;
    display: inline-block;

    img {
        .rounded-corners(12px);
    }
}

.page-header {
  border-bottom: 0;
  padding-bottom: 0;

  p {
    margin-top: -20px;
    font-size: 12px;
    color: #ccc;
    font-style: italic;
  }
}

.blog-entry {
    margin-bottom: 40px;
    color: #cdcdce;

    strong {
        color: #fff;
    }
}

.pagination a {
    border-color: #505050;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #c8c8c8;
    background-color: #eaeaea;
}

.table {
    margin-bottom: 0;

    &.table-bordered {
        border-color: #292929;
    }
}

.table caption {
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    background: #303030 url('../images/darker-panel-tile.png');
    padding: 4px 8px;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead :first-child tr:first-child th,
.table thead :first-child tr:first-child td,
.table th {
    border-top: 1px solid @link-color;
    border-bottom: 1px solid @link-color;
}
.table th {
    vertical-align: middle;
    a, button {
        font-weight: normal;
    }
}
.table th, .table td {
    border-color: #363636;
}
.table tr th {
    border-top: 1px solid @link-color;
    border-bottom: 1px solid @link-color;
    background-color: #272727;
    padding-top: 16px;
    padding-bottom: 16px;

    span {
        margin-right: @spacer-medium;
    }
}
.table tbody tr:hover td, .table tbody tr:hover th {
    .gradient(#343434, #353535, #333);
}
.table tbody tr.active td, .table tbody tr.active th
.table tbody tr.active:hover td, .table tbody tr.active:hover th {
    background: #404040 url(../images/background-tile.png);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: @spacer-xlarge;
    margin-bottom: @spacer-xxlarge;
    font-family: @headers_font;
}
h2 {
    margin-top: @spacer-xxlarge;
}

input:focus, textarea:focus {
    border-color: rgba(204, 75, 46, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 75, 46, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 75, 46, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 75, 46, 0.6);

}

.form-actions .help-block {
    margin-top: @spacer-medium;
    color: darken(@text-color, 15%);
}
.form-horizontal .form-actions, .form-vertical .form-actions, .form-inline .form-actions {
    background: #333 url('../images/dark-panel-tile.png');
    border-color: #393939;
}
.form-horizontal input[type=text],
.form-horizontal input[type=password],
.form-horizontal textarea,
.form-horizontal .help-block {
    width: 610px;
    max-width: 96%;
}
.form-horizontal select {
    width: 620px;
    max-width: 96%;
}
.form-horizontal label {
    font-weight: bold;
}

.form-inline {
    label {
        margin-right: @spacer-medium;
    }
    .btn {
        margin-left: @spacer-medium;
    }
}

.form-content {
  .loading {
    text-align: center;
  }
}

footer .container {
    -webkit-box-shadow: 0 0 12px black;
       -moz-box-shadow: 0 0 12px black;
            box-shadow: 0 0 12px black;
    margin: 0 auto;
    padding: 20px 30px 10px 30px;
    max-width: 940px;
    background: #303030 url('../images/darker-panel-tile.png');
    .rounded-corners-top;
}
footer .bottom {
    margin-top: 40px;
}
footer p, footer a, footer li {
    font-size: 11px;
    line-height: 13px;
}
footer ul {
    margin-left: 0px;
    list-style: none;
}


/* AutoSuggest CSS - Version 1.2 */
ul.as-selections {
    list-style-type: none;
    padding: @spacer-medium @spacer-small;
    margin: @spacer-small 0;
    width: 610px;
    max-width: 100%;
    overflow: auto;
    background: #404040;
    border: 1px solid #282828;

    li {
        float: left;
        margin: 0 @spacer-small @spacer-small 0;
    }
    li.as-selection-item {
        padding: @spacer-small @spacer-medium;
        .data {
            margin-right: @spacer-small;
        }
        a.as-close, a.as-edit {
            padding: (@spacer-small / 2) @spacer-small;
            .rounded-corners;
            cursor: pointer;
        }
        a.as-close:hover, a.as-edit:hover {
            background-color: @text-color;
        }
    }
    li.as-selection-item.need-data {
        text-shadow: @background-color 0 -1px 1px;

        a.as-close:hover, a.as-edit:hover {
        }
    }
    li.as-original {
        margin-left: 0;
        max-width: 100%;

        input {
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            outline: none;
            width: 600px;
            max-width: 96%;
            height: 18px;
            padding-top: @spacer-small;
            background: #404040;
            color: #f0f0f0;
            &:focus {
                border: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
    }
}

ul.as-selections.loading {
    background-repeat: no-repeat;
    background-position: 97.5% center;
}

ul.as-list {
    position: absolute;
    font-size: 90%;
    list-style-type: none;
    margin: -4px 0 0 0;
    padding: @spacer-medium @spacer-small;
    width: 610px;
    z-index: 3;
    background: @text-color;
    background: -moz-linear-gradient(top, @strong-text-color, @text-color);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@strong-text-color), to(@text-color));
    color: @background-color;
    .box-shadow-subtle;
    h1 {
        color: @background-color;
        font-size: @base-font-size;
        border: none;
        margin: 0 @spacer-large @spacer-small; padding: 0;
        font-weight: bold;
        text-align: left;}}

li.as-result-item, li.as-message {
    margin: 0 0 0 0;
    padding: @spacer-small @spacer-large;
    background-color: transparent;
    cursor: pointer;
    display: block;}

li.as-message {
    .rounded-corners;}

li:first-child.as-result-item {
    margin: 0;}

li.as-result-item.active {
    color: @link-color;}

li.as-result-item em {
    font-style: normal;
    background: @text-color;
    padding: 0 2px;
    color: @background-color;}

/* Webkit Hacks
@media screen and (-webkit-min-device-pixel-ratio:0) {
    ul.as-selections {
        border-top-width: 2px;
    }
    ul.as-selections li.as-selection-item {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    ul.as-selections li.as-selection-item a.as-close,
    ul.as-selections li.as-selection-item a.as-edit {
        margin-top: -1px;
    }
    ul.as-selections li.as-original input {
        height: 19px;
    }
}*/

/* Opera Hacks
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    ul.as-list {
        border: 1px solid #888;
    }
    ul.as-selections li.as-selection-item a.as-close,
    ul.as-selections li.as-selection-item a.as-edit {
        margin-left: 0;
        margin-top: 0;
    }
}*/

/* IE Hacks  */
ul.as-list {
    border: 1px solid @border-color; }
ul.as-selections li.as-selection-item a.as-close,
ul.as-selections li.as-selection-item a.as-edit {
    margin-left: 0;
    margin-top: 0;}

/* Firefox 3.0 Hacks */
ul.as-list,  x:-moz-any-link, x:default {
    border: 1px solid @border-color;}
BODY:first-of-type ul.as-list, x:-moz-any-link, x:default { /* Target FF 3.5+ */
    border: none;}


.tabs {
    /* Override some annoying jquery.ui stuff. */
    background: transparent;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;

    .ui-tabs-nav {
        padding-left: 0px;
        background: transparent;
        border-width: 0px;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
    }
    .ui-tabs-panel {
        background: transparent;
        border-width: 0px 1px 1px 1px;
    }
    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
        color: @link-color;
    }
    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: @text-color;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li, li.ui-state-default {
            float: left;
            padding: @spacer-medium @spacer-large;
            background: (@dark-panel-color) url('../images/dark-panel-tile.png');
            .rounded-corners-top;
        }
        li.active, li.ui-state-active {
            border-bottom: none;
            padding-bottom: @spacer-medium;
            background: (@light-panel-color) url('../images/light-panel-tile.png');
        }
        li.active {
            padding-bottom: @spacer-medium + 1px;
        }
    }
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: @spacer-medium;
}

.tabbed-box {
    .rounded-corners-bottom;
    border-top: none;
    margin-top: 0;
}

div.capty-caption {
    background-color: black;
    padding: 0;
    .rounded-corners(12px);
    z-index: 3;
}

div.capty-target {
    display: none;

    .capty-caption-content {
        padding: 8px;

        font-size: @base-font-size * 0.65;
        color: #ddd;
        text-shadow: 1px 1px 1px black;

        a {
            color: @link-color;
            font-size: 90%;
        }

        .table-condensed th, .table-condensed td {
            padding: 0 2px;
        }

        .link-overlay {
            .opacity(0);
            position: absolute;
            left: 0;

            a {
                display: block;
                height: 100%;
            }
        }
    }
}


.ui-multiselect {
    display: none;
    border: none;

    div.available {
        border-color: #282828;
    }
    ul.available, ul.selected {
        background: (@light-panel-color) url('../images/light-panel-tile.png');
        min-height: 75px;
    }
    .ui-state-default {
        color: @link-color;
        background: @light-panel-color * 1.1;
    }
    .ui-state-highlight {
        background: @light-panel-color * 1.2;
        border-color: @border-top-color;
    }
    .ui-widget-header {
        color: @text-color;
        background: @light-panel-color * 1.2;
    }
    input.search {
        margin: 7px 4px 0 4px;
        background: @strong-text-color;
        color: @background-color;
    }
    .remove-all, .add-all {
        color: @link-color;
    }
}

.progressbar {
    display: none;
    padding: 14px 0 14px 0;
}

.ui-widget-overlay {
    background: #222;
}

.ui-dialog {
    .ui-widget-header {
    }
    form {
        p {
            padding: 0;
            margin-bottom: @spacer-medium;
        }
        label {
            text-shadow: none;
            float: none;
            text-indent: 0;
            padding: 0;
        }
        input {
            width: 96%;
        }
        .btn, select {
            width: 100%;
        }
        .helptext {
            width: auto;
            margin-left: 0;
        }
        .errorlist {
            margin-left: 0;
            margin-bottom: @spacer-medium;
        }
    }
}

.upload-forms {
    text-align: center;
    margin: 0;
    padding: 10px;
    background: @light-panel-color url('../images/subtle-panel-tile.png');
    .common-border;
    .rounded-corners(12px);
    overflow: hidden;

    .upload-form {
        width: 50%;
        float: left;

        .upload-form-inner {
            padding: @spacer-medium;
            border-left: 1px solid #333;
            border-right: none;

            form {
                display: none;

                .btn-primary {
                    display: inline-block;
                }
            }
        }

        &:first-child {
            .upload-form-inner {
                border-right: 1px solid #484848;
                border-left: none;
                padding-left: 0;
            }
        }

        &:last-child {
            .upload-form-inner {
                padding-right: 0;
            }
        }
    }
}

.astrobin-image-container {
    /* Because of the IOTD banner. */
    position: relative;

    &.plot-overlay {
        position: absolute;
        top: 0;

        img {
            .opacity(0);
            filter:alpha(opacity=0);
            zoom: 1;

            &:hover {
                .opacity(1);

                /* IE */
                filter:alpha(opacity=100);

                transition: opacity .35s ease-in-out;
                -moz-transition: opacity .35s ease-in-out;
                -webkit-transition: opacity .35s ease-in-out;
            }
        }

        &.plot-overlay-fixed {
            img {
                .opacity(1);

                /* IE */
                filter:alpha(opacity=100);
            }
        }
    }
}

.main-image {
    .main-image-inner {
        z-index: 1;
        position: relative;
        img {
            cursor: url('../cursors/magnify.cur'), -moz-zoom-in, pointer;
            border: 1px solid @dark-panel-color;
            .rounded-corners;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}



.image-title {
    margin-bottom: @spacer-xlarge;

    .image-title {
        margin-bottom: 0;
    }

    .image-license {
        text-align: right;
    }
}

.image-basic-data {
    img.license {
        padding: 0 0 2px 2px;
    }

    table th {
        padding-left: 35px;
        width: 50px;
    }
}

.image-detail {
    .image-detail-inner {
        padding: @spacer-large;

        .gear, .acquisition {
            float: left;
            width: 50%;
        }

        .gear-inner, .acquisition-inner {
            padding: 0 @spacer-medium;

            p {
                margin: 0;
            }
        }
        .image-histogram {
            margin-top: @spacer-xxlarge;
        }
    }
}

.avatar-block {
    .avatar, .username {
        display: block;
    }

    .avatar {
        float: left;
    }

    .avatar img {
        .rounded-corners(12px);
    }

    .username {
        font-size: 1.5em;
        margin-left: 120px;
        margin-top: @spacer-small;

        a.username-link {
            font-size: 80%
        }

        .data {
            display: block;
            font-size: 60%;
            color: darken(@text-color, 10%);
            margin-top: @spacer-small;
            margin-bottom: @spacer-medium;

            .license {
                margin-right: @spacer-small;
            }
        }

        .views, .bookmarks, .likes {
            font-size: 85%;
            color: darken(@text-color, 15%);
            margin-right: @spacer-medium;

            .number {
                color: @strong-text-color;
                font-weight: bold;
            }
        }

        .likes a, .bookmarks a {
            color: darken(@text-color, 15%);
            border-bottom: 1px dotted #646464;
        }
    }
}

.avatar {
  position: relative;

  img {
    .rounded-corners(12px);
  }

  .property-follow {
      position: absolute;
      top: 8px;
      right: 8px;
  }
}

.explore-comment-container, .explore-review-container {
    width: 460px;
    padding: @spacer-small;
    display: inline-block;

    .header {
        color: @strong-text-color;
        background: #303030 url('../images/darker-panel-tile.png');
        padding: @spacer-medium @spacer-small;
        .stitched-box;
        border-bottom: 0;
        margin-bottom: 0;
    }

    .thumbnail {
        float: left;
        margin-right: @spacer-medium;
        clear: both;
        border: 0;
        padding: 3px;
    }

    .comment {
        height: 78px;
    }
}

.explore-review-container {
    width: 302px;
}

.reviews, .comments {
    margin-top: @spacer-large;
    margin-bottom: @spacer-xxlarge;
    padding-top: @spacer-large;

    .loader {
        display: block;
        text-align: center;
    }

    small {
        font-size: 87.5%;
        color: darken(@text-color, 15%);
    }
}

.comment, .review {
    position: relative;
    margin-top: @spacer-xlarge;
    margin-bottom: @spacer-medium;
    font-size: 1em;
    padding-left: @spacer-large;
    border-left: 1px dotted #404040;

    .collapse {
        font-family: monospace;
        letter-spacing: -2px;
    }

    .children {
        margin-left: @spacer-large;
    }

    h3 {
        color: @strong-text-color;
        margin-bottom: @spacer-small;
    }
    .well {
        margin-bottom: @spacer-small;
    }
    a.author {
        margin-right: @spacer-medium;
    }
    p {
        margin: 0;
        padding: @spacer-small 0;
    }
    p.instructions {
        font-size: 0.9em;

        strong {
            color: @strong-text-color;
            font-weight: normal;
            text-shadow: none;
        }
    }

    .formatting-help {
        font-size: 0.8em;
    }

    .loader {
        display: inline-block;
    }

    .avatar {
        float: left;
        margin-right: @spacer-large;
    }

    .content {
        padding: @spacer-medium 0;

        p {
            color: @strong-text-color;
            line-height: 1.5em;
            padding: 0;
        }

        blockquote {
            margin: 0;
            padding: 0 0 0 @spacer-small;
            font-style: italic;
            border-left: 2px solid (@border-top-color * @hilight-factor);

            p {
                color: @text-color;
            }

            br {
                display: none;
            }
        }
    }

    .content.deleted {
        p {
            color: @text-color / @hilight-factor;
            font-style: italic;
        }
    }

    .preview {
        padding: @spacer-large;
        margin-top: @spacer-large;
        background-color: #ffeebb;
        border: 1px solid #ecb;
        .rounded-corners;

        p {
            color: #333;
        }

        h3 {
            margin-top: 0;
            color: #111;
        }
    }

    .meta, .links {
        font-size: 0.85em;
    }

    .links {
        padding: @spacer-small 0;
        border-bottom: 1px dashed #555;

        a {
            text-transform: lowercase;
            margin-right: @spacer-medium;
        }
    }

    form {
        textarea {
            width: 98.75%;
            margin-bottom: @spacer-medium;
        }
    }
}

.top-level {
    margin-bottom: @spacer-xlarge;
}

.add-top-level {
    height: 16px;
    font-size: 14px;
    padding: 8px;
}

.review {
    border-bottom: 1px dashed #555;
    padding-bottom: @spacer-large;
}

.comment.newlyAdded, .comment.hilight, .review.hilight {
    background: rgba(0,255,0,0.1);
}

.review-form {
    textarea, select {
        width: 96%;
    }
}

.index-section {
    margin-bottom: @spacer-xxxlarge;
}

.well, .hero-unit {
    background: url('../images/subtle-panel-tile.png');
    border: 0;
}
.hero-unit {
    h1 {
        font-size: 30px;
        border-bottom: 0;
        margin-bottom: @spacer-medium;
    }
    p {
        font-size: 16px;
    }
    small {
        color: #555;
    }
}

.subtle-container {
    background: url('../images/subtle-panel-tile.png');
    .common-border;
    .rounded-corners;
    padding: @spacer-large;
    margin-bottom: @spacer-large;
    overflow: hidden;

    .header {
        background: #303030 url('../images/darker-panel-tile.png');
        .rounded-corners-top;
        border-bottom: #404040;
        margin: -12px -12px 12px;
        padding: @spacer-medium @spacer-large;

        h4 {
          i {
              margin-right: 8px;
          }
          margin: 0;
          display: inline;
        }
    }

    .col {
        float: left;
        width: 50%;

        .inner {
            padding: @spacer-medium;
        }
    }

    .form-horizontal input[type=text],
    .form-horizontal input[type=password],
    .form-horizontal textarea,
    .form-horizontal .help-block {
        width: 584px;
        max-width: 96%;
    }
    .form-horizontal select {
        width: 594px;
        max-width: 96%;
    }

    &.advertisement {
        padding: 0;
        background: none;
        border: none;
        .no-box-shadow;

        /* Hide by default, will be shown if ad is rendered. */
        display: none;

        .header {
            margin: 0;

            .remove {
                float: right;
                padding: 0 2px;
                font-size: 90%;
                color: #505050;
            }
        }

        &.advertisement-frontpage {
            padding-top: 12px;
        }
    }
}

.comment-author {
    padding-bottom: @spacer-medium;
}

.advanced-search-box {
    form {
        margin: 0;
        padding: 0;

        p {
            padding: @spacer-medium 0;
        }
        .helptext {
            margin-left: 0;
            width: 100%;
            font-size: 80%;
            color: darken(@text-color, 15%);
        }
        label {
            float: none;
            text-indent: 0;
            text-align: left;
            width: auto;
            padding: 0;
        }
        ul li label {
            height: auto;
            color: @text-color;
            font-weight: normal;
            padding-top: 0;
            font-size: 100%;
        }
        input, select {
            width: 95%;
        }
        ul.as-selections {
            width: 95%;
        }
        li.as-original {
            width: 95%;
            input {
                width: 95%;
            }
        }
        ul.as-list {
            margin-left: 0;
        }
        ul.errorlist {
            margin-left: 0;
        }
        .slider {
            margin: @spacer-large @spacer-medium;
        }

        .search-button {
            width: 100%;
        }
    }
}

.search-category, .list-gear {
    .stitched-box;
    background: @light-panel-color url('../images/light-panel-tile.png');
    margin: 0 0 @spacer-medium 0;
    padding: 0;

    .header {
        color: @strong-text-color;
        background: #303030 url('../images/darker-panel-tile.png');
        padding: @spacer-medium @spacer-small;
        .stitched-box;

        .title {
            font-weight: bold;
            text-transform: uppercase;
        }
        .control {
            font-family: Mono;
            letter-spacing: 2px;
            float: right;
            font-size: 80%;
            margin-right: @spacer-medium;
        }
    }
    .content {
        padding: @spacer-medium;
    }

    .actions {
        padding: @spacer-medium;
        text-align: right;
        border-top: 1px solid #4a4a4a;
    }
}

.list-gear {
    .content {
        [class^="icon-"], [class*=" icon-"] {
            color: @background-color;
        }
    }
}

.btn-gear {
    text-align: left;
    cursor: default;
    margin: 2px;

    .labels {
        float: left;
        padding-right: 8px;
        border-right: 1px solid white;

        .make {
        }

        .name {
            font-weight: bold;
        }

        .alias {
            font-size: 85%;
            font-style: italic;
            color: #555;
        }
    }

    .actions {
        float: right;
        width: 16px;
        padding: 0 0 0 @spacer-medium;
        border-left: 1px solid #ddd;
        border-top: 0;
    }
}

.btn-gear.incomplete {
    .labels {
        color: @link-color;
        border-left: 12px solid @link-color;
        padding-left: 4px;
    }
}

.search-results {
    padding: 0 15px;
}

.album-part {
    margin-top: @spacer-xxxlarge;
    &:first-child {
        margin-top: 0;
    }

    .more, .back {
        margin-left: @spacer-medium;
    }
}

.notice-count {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 75%;
    font-weight: bold;
    line-height: 75%;
    background-color: red;
    color: @strong-text-color;
    .text-shadow;
    padding: 3px 4px;
    .rounded-corners(6px);
    .box-shadow;
    z-index: 9999;
}
.message {
    position: relative;
    .stitched-box;
    width: 90%;
    text-align: left;

    .avatar {
        position: absolute;
        top: 0;
        right: 0;
    }

    .new, .sender, .subject, .message-tease, .actions {
        display: inline;
    }
    .date {
        color: @text-color / @hilight-factor;
    }
    .sender {
        padding: @spacer-small;
        font-size: 0.9em;
        border-bottom: 1px dashed @border-top-color;
    }
    .subject {
        margin-left: @spacer-small;
    }

    .body {
        padding: @spacer-large;
    }
}

.message-container {
    margin-bottom: @spacer-large;
    overflow: hidden;
}
.message-container .message {
    background: @light-panel-color url('../images/light-panel-tile.png');
}
.message-container.other .message{
    float: right;
    background: @dark-panel-color url('../images/dark-panel-tile.png');
}

.message-form {
    margin-top: @spacer-xxxlarge;
}

ul.token-input-list {
    display: inline-block;
    list-style-type: none;
    padding: @spacer-medium @spacer-small;
    margin: @spacer-small 0;
    overflow: auto;
    background-color: #404040;
    border: 1px solid #282828;
    width: 610px;
    li.token-input-token {
        padding: @spacer-medium;
        margin: @spacer-small*.5 0;
        width: 590px;
        color: @strong-text-color;
    }
    li.token-input-input-token {
        border: none;
        input, textarea {
            width: 590px;
            margin: @spacer-small 0;
            background: none;
        }
    }
}

div.token-input-dropdown {
    z-index: 9999;
    background-color: @strong-text-color;
    color: @background-color;
    li.token-input-selected-dropdown-item {
        color: @text-color;
    }
    li.token-input-dropdown-item,
    li.token-input-dropdown-item2 {
        color: @background-color;
        background-color: @link-color;
    }
    p {
        color: @text-color;
    }
}

.plot {
    text-align: center;
    .loading {
        font-size: 87.5%;
        margin-top: 120px;
    }

    .legend {
        margin: -@spacer-xxlarge auto @spacer-xxxlarge auto;
    }

    td {
        padding: 0 @spacer-small;
    }
    td.legendColorBox {
        padding-right: @spacer-medium;
        vertical-align: middle;
    }
}
.plot-container {
    td {
        padding: 0 @spacer-small;
    }
    td.legendColorBox {
        padding-right: @spacer-medium;
        vertical-align: middle;
    }
}

.full-title {
    padding: 11px 0;

    .title {
        color: @strong-text-color;
        font-weight: bold;
        font-size: 1.5em;
        margin-right: @spacer-large;
    }
    .subtitle {
        color: darken(@text-color, 10%);
        font-size: 75%;
        font-style: italic;
        margin-top: @spacer-small;
    }
}

#full-size-image {
    text-align: center;
    img {
        max-width: 95%;
        margin-top: @spacer-medium;
        .box-shadow;}
    img.real {
        max-width: 65536px; /* ... ought to be enough for everybody... */
        width: auto;}}

form.copy {
    label {
        float: left;
    }

    #clip-container {
        position: relative;
        float: left;
        display: inline-block;
        margin-left: @spacer-small;

        img {
            cursor: hand; cursor: pointer;
        }

        .flash-container {
            position: absolute;
            top: -3px;
            .opacity(0);
            cursoer: hand; cursor: pointer;
        }

        .clip-status {
            position: absolute;
            left: 25px;
            top: -1px;
            display: none;
            padding: 0 6px;
            background: #222;
            border: 1px solid #111;
            color: @text-color;
            font-size: 80%;
        }
    }
}
.stButton .chicklets {
    color: @text-color;
}

p.small {
    font-size: 87.5%;
    padding: 0;
    margin: 0;
}

*[rel="popover"] {
    position: relative;
}

.ui-tooltip, .qtip {
    //max-width: 400px;
    //min-width: 250px;
}

.ui-tooltip-default .ui-tooltip-titlebar,
.ui-tooltip-default .ui-tooltip-content {
    background: #303030 url('../images/darker-panel-tile.png');
    border-color: #111;
    .box-shadow-subtle;
    color: @text-color;

    h3 {
        color: @strong-text-color;
        border-bottom: 1px solid #232323;
    }
    p {
        margin-bottom: 2px;
    }

    .actions {
        margin-top: @spacer-large;
        padding-top: @spacer-large;
        padding-bottom: @spacer-medium;
        border-top: 1px solid #232323;
        text-align: right;
    }
}

.ui-tooltip .ui-tooltip-tip,
.ui-tooltip .ui-tooltip-tip *{
    display: none;
}

.row.section {
    margin-bottom: @spacer-xlarge;
}

.bubble {
    position: relative;
    margin: 0;
    padding: 10px;
    .rounded-corners;
    .box-shadow;
}

.bubble:after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent transparent #FCF8E3 transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    top: -21px;
    left: 1em;
}
#language-prompt {
    position: absolute;
    top: 45px;
    right: 0px;
    z-index: 999;

    .bubble {
        width: 105px;
        color: #C09853;
        background-color: #FCF8E3;
        border: 1px solid #FBEED5;

    }
    .bubble:after {
        left: 99px;
    }
}
#realname-prompt {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 999;

    .bubble {
        width: 145px;
        color: #C09853;
        background-color: #FCF8E3;
        border: 1px solid #FBEED5;
        text-align: left;

    }
    .bubble:after {
        left: 20px;
    }
}

.alert h4 {
    margin-bottom: 12px;
}

.alert p {
    margin-bottom: 2px;
}

.alert-heading {
    margin: 0 0 12px 0;
}

.alert-info strong {
    color: @background-color;
}

.alert-error {
    a, a:link, a:visited {
        color: #444;
        text-decoration: underline;
    }

    a:hover, a:active {
        color: #333;
        text-decoration: underline;
    }
}

code {
    display: block;
}

a.button {
        -webkit-appearance: none;
        -webkit-box-align: center;
        -webkit-box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
        -webkit-rtl-ordering: logical;
        -webkit-transition-delay: 0s;
        -webkit-transition-duration: 0.10000000149011612s;
        -webkit-transition-property: background-position;
        -webkit-transition-timing-function: linear;
        -webkit-user-select: text;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: #B74329;
        background-image: -webkit-linear-gradient(top, #CC4B2E, #B74329);
        background-origin: padding-box;
        background-position: 0px -15px;
        background-repeat: repeat-x;
        border-bottom-color: rgba(0, 0, 0, 0.246094);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgba(0, 0, 0, 0.0976563);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgba(0, 0, 0, 0.0976563);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgba(0, 0, 0, 0.0976563);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top-style: solid;
        border-top-width: 1px;
        box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline;
        font-size: 13px;
        font-weight: normal;
        height: 28px;
        letter-spacing: normal;
        line-height: 18px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        outline-color: white;
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        text-align: center;
        text-decoration: none;
        text-indent: 0px;
        text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
        text-transform: none;
        vertical-align: middle;
        white-space: pre;
        width: 65px;
        word-spacing: 0px;
}

form.avatar-change label.control-label {display: none;}

.astrobin-image-container ul.badges {
    list-display: none;
    margin: 0;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;

    li {
        margin-bottom: 3px;
    }

    li.iotd-thumb-banner {
        text-align: center;
        h2 {
            margin: 0;
            border-bottom: none;
            font-size: 16px;
            color: #fff;
            background: #e3a936;
            .box-shadow;
            .rounded-corners(16px);
            height: 30px;
            width: 30px;
            border: 1px solid white;

            .icon {
                padding: 0;
                position: absolute;
                top: 8px;
                left: 8px;
            }
        }
    }

    li.top100-badge {
        text-align: center;
        h2 {
            margin: 0;
            border-bottom: none;
            font-size: 9px;
            line-height: 7px;

            color: #fff;
            background: darkred;
            .box-shadow;
            .rounded-corners(16px);
            border: 1px solid white;
            padding: 8px 6px 6px 6px;
            text-transform: uppercase;
            width: 18px;

            span {
                display: block;
            }
        }

        &.top100-badge-large {
            h2 {
                font-size: 16px;
                line-height: 12px;
                padding: 12px 8px;
                .rounded-corners(26px);
                width: 34px;
            }
        }
    }
}

.iotd-ribbon-container {
    position: relative;
    min-height: 56px;
    margin: 8px 0;
}
.iotd-ribbon {
   width: 109%;
   position: absolute;
   left: -46px;
   text-align: center;
   font-size: 16px!important;
   background: #e3a936;
   background: -webkit-gradient(linear, left top, left bottom, from(#e3a936), to(#a87a25));
   background: -webkit-linear-gradient(top, #e3a936, #a87a25);
   background: -moz-linear-gradient(top, #e3a936, #a87a25);
   background: -ms-linear-gradient(top, #e3a936, #a87a25);
   background: -o-linear-gradient(top, #e3a936, #a87a25);
   background-image: -ms-linear-gradient(top, #e3a936 0%, #a87a25 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   }

.iotd-ribbon h1 {
   font-size: 20px!important;
   color: #f5ddae;
   text-shadow: #8f6b22 0 1px 0;
   margin:0px;
   padding: 5px 10px;
   border-bottom: none;

     .date {
         color: #fff;
     }
   }
.iotd-ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #ad7e21;
   z-index: -1;
   }
.iotd-ribbon:after {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.iotd-ribbon .ribbon-content:after {
   border-color: #6b4e15 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.iotd-ribbon .ribbon-content:after {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }

.image-of-the-day {
    position: relative;

    h2 {
        z-index: 1;
        position: absolute;
        border: 0;
        margin: 0;
        padding: @spacer-small @spacer-medium;
        background-color: #111;
        background-color: rgba(0,0,0,0.3);
        .rounded-corners;
        top: -10px;
        left: -16px;
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);

        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.99026807, M12=0.13917310, M21=-0.13917310, M22=0.99026807,sizingMethod='auto expand')";
        filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.99026807, M12=0.13917310, M21=-0.13917310, M22=0.99026807,sizingMethod='auto expand')";

    }
    img {
        .rounded-corners;
        .box-shadow;
    }
    .info {
        position: absolute;
        top: 0;
        right: 0;
        .rounded-corners-right;
        background-color: rgba(0,0,0,0.3);
        padding: @spacer-large;
        max-width: 260px;
        height: 158px;
        overflow: hidden;
        .opacity(0.05);

        -webkit-transition: opacity 0.5s ease;
        -moz-transition: opacity 0.5s ease;
        -o-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;

        h3 {
            font-size: 0.8em;
            line-height: 1em;
            margin: 0;
        }
        .by {
            font-size: 0.7em;
        }
        p {
            font-size: 0.8em;
            line-height: 1.4em;
            margin: 0;
        }
    }

    &:hover {
        .info {
            .opacity(1);
        }
    }
}

.iotd-archive-image {
    padding-top: @spacer-large;
    position: relative;

    img {
        .rounded-corners(3px);
        .box-shadow;
    }

    .data {
        position: absolute;
        top: @spacer-xxlarge;
        left: @spacer-large;
        padding: @spacer-small @spacer-medium;
        background-color: #111;
        background-color: rgba(0,0,0,0.5);
        .rounded-corners;

        h3 {
            font-size: 1em;
            line-height: 1.2em;
            margin: 0;
            .text-shadow;
        }

        p {
            margin: 0;
            color: #bbb;
            font-style: italic;
            .text-shadow;
        }
    }
}

.image-of-the-day, .iotd-archive-image {
    .runner-ups {
        position: absolute;
        bottom: @spacer-large;
        left: @spacer-xlarge;

        h3 {
            font-size: 1em;
            line-height: 1em;
            margin-bottom: @spacer-small;
            .text-shadow;
            font-style: italic;
            color: #ccc;
        }

        .runner-up {
            float: left;
            margin-right: @spacer-medium;
            .box-shadow;
            .rounded-corners(12px);
        }
    }
}

.iotd-choose {
    margin-bottom: 50px !important;

    a {
        margin-top: 12px;
    }
}

.btn-upload {
    padding: 31.5px 24px;

    .text {
        font-size: 20px;
        text-transform: uppercase;
        padding-top: 4px;
        display: block;
    }
}

.subtle-container {
  .more {
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    padding: @spacer-small;
    .rounded-corners;
    display: none;
    margin-top: @spacer-medium;
  }
}

.subtle-container:hover .more {
  display: block;
}

.activity-stream, .blog-stream {
    padding-top: 0;
    min-height: 922px;
    max-height: 922px;
    overflow-y: hidden;

    h3 {
        background: #303030 url('../images/darker-panel-tile.png');
        text-transform: uppercase;
        font-size: 1.75em;
        padding: @spacer-medium @spacer-large;
        margin-top: 0;
        text-align: center;
    }
}

.simple-container {
    background: none;
    border: 0;
    .rounded-corners(0);
    .no-box-shadow;

    .header {
        border: 0;
        background: #202020;
        .rounded-corners(6px);
        margin: 0 0 12px 0;
        padding: 8px 12px;

        h4 {
            font-size: 13px;
        }
    }

    #personal-stream, #global-stream {
        overflow: hidden;
    }
}

.activity-actions, .blog-stream-entries {
    .action, .entry {
        padding: @spacer-medium 0;
        position: relative;
        min-height: 160px;

        .action-inner {
            position: relative;
            padding: 8px;
            margin: 8px;
            background: #303030 url('../images/darker-panel-tile.png');
            border: 1px solid #191919;
            .box-shadow-subtle;
            .rounded-corners(3px);

            img.astrobin-image {
                border: 1px solid #282828;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        .avatar {
            float: left;
            max-width: 64px;
            overflow: hidden;
        }

        .action-type {
            position: absolute;
            top: 84px;
            left: 24px;
            font-size: 32px;
            .text-shadow-subtle;

            i.icon-plus {
                color: #FFFF9F;
            }

            i.icon-thumbs-up {
                color: firebrick;
            }

            i.icon-bookmark {
                color: #ff000;
            }

            i.icon-comment-alt {
                color: lightblue;
            }
        }

        .content {
            font-size: 90%;
            padding-left: 74px;

            p {
                color: darken(@text-color, 2%);

                a:link, a:visited {
                    color: darken(@link-color, 2%);
                }
            }

            .object > .comment {
                margin: 0;
                padding-top: @spacer-small;
                padding-left: 0;
                border: 0;

                a > i.icon-link {
                    color: lighten(@link-color, 15%);
                    font-size: 80%;
                }
            }

            .object > .image img {
                .rounded-corners;
                margin-bottom: @spacer-medium;
            }

            .when {
                color: darken(@text-color, 40%);
                font-size: 75%;
                font-style: italic;
            }
        }
    }

    .action {
        float: left;
        width: 50%;
        padding: 0;
    }

    @media screen and (max-width: 500px) {
        .action {
            float: none;
            width: auto;
        }
    }
}

.notice-container {
    .unread {
        background-color: #FADDD6;
    }
}

.help-block {
    font-size: 90%;
    font-style: italic;
}

li.revisions {
    padding: 5px;
}

.revision {
    position: relative;

    .badges {
        display: none;
    }

    .final {
        position: relative;

        .text {
            z-index: 1;
            position: absolute;
            border: 0;
            margin: 0;
            padding: @spacer-small @spacer-medium;
            background-color: #111;
            background-color: rgba(0,0,0,0.6);
            .rounded-corners;
            top: -10px;
            right: -4px;
            -webkit-transform: rotate(8deg);
            -moz-transform: rotate(8deg);
            -o-transform: rotate(8deg);
            -ms-transform: rotate(8deg);
            transform: rotate(8deg);

            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9902680687415703, M12=-0.13917310096006588, M21=0.13917310096006588, M22=0.9902680687415703, SizingMethod='auto expand')";
            filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9902680687415703, M12=-0.13917310096006588, M21=0.13917310096006588, M22=0.9902680687415703, SizingMethod='auto expand')";

        }
    }

    .label {
        position: absolute;
        bottom: 0;

        margin: 0;
        padding: 2px 0;
        width: 80px;

        background: #303030;
        background-color: rgba(0, 0, 0, 0.3);
        filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000')";

        text-align: center;
        font-weight: bold;

        .rounded-corners(0 0 12px 12px);

        &.active {
            background: white;
            background-color: rgba(255, 255, 255, 0.66);
            color: #111;
        }
    }
}

.gear-popover, .user-popover, .subject-popover {
    .thumbnail {
        border: 0;
    }

    th, td {
      border-color: #222;
    }
}

/* Bootstrap popover */
.popover {
    z-index: 1030;

    .popover-inner {
        padding: 0;
        background: @dark-panel-color url('../images/dark-panel-tile.png');
        -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, 1);
           -moz-box-shadow: 0 0 22px rgba(0, 0, 0, 1);
                box-shadow: 0 0 22px rgba(0, 0, 0, 1);

        .popover-title {
            background: #1B1B1B url('../images/darker-panel-tile.png');
            margin-top: 0;
            margin-bottom: 0;
            border-bottom-color: #414141;
        }

        .popover-content {
            background: @dark-panel-color url('../images/dark-panel-tile.png');
        }
    }
}
.popover.bottom .arrow {
    border-bottom-color: #1B1B1B;
}


.gear-page {
  .page-header h4 {
      margin-top: -20px;
      color: #ddd;
  }
  .gear-image {
    margin-bottom: @spacer-large;
  }
}

.user-business-card, .gear-business-card {
    .stitched-box;
    position: relative;
    height: 212px;
    width: 182px;
    margin: 8px;
    padding: 0;

    .business-card-inner {
        padding: 8px;
    }

    .header {
        background: #303030 url('../images/darker-panel-tile.png');
        height: 22px;
        padding: @spacer-medium @spacer-small 0;
        margin: -8px -8px 12px;
    }

    .avatar {
        position: absolute;
        top: (@spacer-medium * 2) + 22px;
        left: @spacer-medium;
        width: 83px;
    }
    .quick-data {
        position: absolute;
        top: (@spacer-medium * 2) + 22px;
        left: (@spacer-medium * 2) + 83px;

        th {
            padding: 4px 4px 4px 0;
        }
        td {
            padding: 4px;
        }
    }
    .data {
        position: absolute;
        top: 128px;
        left: @spacer-medium;
        font-size: 82%;
        width: 166px;
    }
}

.commercial-gear-items.table, .retailed-gear-items.table {
  table-layout: fixed;
}

#more-subjects .hide, #more-subjects .reminder {
  display: none;
}

.community-bulletin {
    color: #333;
    background-color: #FFEEBB;
    border: 1px solid #ECB;
    padding: @spacer-medium;
    margin-bottom: @spacer-large;
    .rounded-corners;

    span.title {
        font-weight: bold;
        padding-left: @spacer-small;
        padding-right: @spacer-small;
        border: 1px solid #B7B7B7;
        background-color: #FFEEDD;
        .rounded-corners;
    }

    p { font-size: 87.5%; }
}

#rawdata-file-drop-area {
    min-height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px dashed #444;
    .rounded-corners;
    text-align: center;
    color: #555;

    h2 {
        padding-top: 30px;
        border-bottom: none;
    }
}

#rawdata-filelist {
    color: #e5e5e5;

    th {
        background: #303030 url('../images/darker-panel-tile.png');
    }
    .filename { width: 80%; }
}

#rawdata-eta {
    color: #888;
    font-size: smaller;
}

table.subscription-plans {
    table-layout: fixed;
}

.subscription-plans-description-list li {
    padding: 6px 0;
}

.plan {
    text-align: center;
    padding-bottom: 30px;
    width: 190px;
    float: left;

    .plan-inner {
        border-right: 1px solid #373737;
    }

    &:last-child .plan-inner {
        border-right: none;
    }

    h1 {
        border-bottom: none;
        font-size: 28px;

        small {
            font-size: 16px;
            display: block;
        }
    }

    h2 {
        border-bottom: none;
        font-size: 14px;

        small {
            font-size: 11px;
            display: block;
            margin-top: -2px;
        }
    }

    p {
        color: #ddd;
        font-size: 11px;
        line-height: 11px;
    }

    a.btn {
        margin-top: 25px;
    }
}

.plan-description {
    margin: 0 2px;

    p {
        font-size: 12px;
        line-height: 14px;
        color: #cdcdcd;
        text-align: center;
    }
}

.thankyou {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 30px;

    small {
        display: block;
        font-size: 13px;
        color: #eee;
        padding-top: 10px;
        font-weight: normal;
    }
}

.btn-header {
    width: 110px;
    margin-top: 6px;
}

table.rawdata-browser {
    .download-link, .delete-link {
        visibility: hidden;
    }

    tr:hover .download-link,
    tr:hover .delete-link {
        visibility: visible;
    }

    td.filename {
        font-size: 10px;
    }

    td.actions {
        width: 102px;
        text-align: right;
    }

    td.files {
        width: 102px;
    }

    td.icon {
        font-size: 20px;
        width: 20px;
    }

    td.counter {
        color: #aaa;
    }
}

.rawdata-browser-breadcrumb {
    display: inline-block;
    margin-bottom: @spacer-medium;

    a {
        margin-right: @spacer-small;
        i.icon-remove {
            padding-left: 6px;
            font-size: 9px;
        }
    }

    .divider {
        color: #777;
        padding-right: 3px;
        font-size: 12px;
    }
}

.download-with-icon {
    text-align: center;
    margin: 40px auto;
    width: 450px;

    .image {
        float: left;
    }

    .data {
        padding-top: 80px;
        .size {
            color: #888;
            display: block;
            margin-top: @spacer-large;
        }
    }
}

table#private-shared-folders a.delete-folder { visibility: hidden; }
table#private-shared-folders tr:hover a.delete-folder { visibility: visible; }

#register-button {
    text-align: center;
    margin-top: 40px;

    a {
        font-size: 150%;
    }
}

.endless_container {
    .endless_more {
        display: none;
    }

    .endless_loading {
        text-align: center;
        padding: 24px 0;
        background: @link-color url('../images/orange-panel-tile.png');
        border-top: 1px solid #111;

        -webkit-box-shadow: rgba(0,0,0,0.2) 0 -6px 12px;
        -moz-box-shadow: rgba(0,0,0,0.2) 0 -6px 12px;
        box-shadow: rgba(0,0,0,0.2) 0 -6px 12px;

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }
}

#index {
    #recent-images {
        padding-left: 8px;
    }

    #recent-images-loggedin {
        padding-left: 2px;
    }

    #commercial-products {
        padding-left: 14px;

        .your-product-here {
            font-size: x-small;
            font-style: italic;
        }
    }
}

#profile-details {
    margin: 0;
    padding: 6px 6px 0 6px;
    overflow: hidden;
    .rounded-corners(0 0 12px 12px);
    background: rgba(0,0,0,0.65);
    position: absolute;
    bottom: 12px;
    width: 182px;


    ul {
        list-style: none;
        margin: 0;

        li {
            display: inline-block;
            width: 57px;

            > a {
                float: left;
                color: #d6d6d6;
                text-transform: uppercase;
                padding: 4px 8px;
                font-size: 8px;
                text-align: center;

                &:hover, &:hover strong {
                    color: @link-color;
                }

                strong {
                    display: block;
                    font-size: 14px;
                    color: white;
                }
            }

            &:last-child {
                > a {
                    border: none;
                }
            }
        }
    }
}

.progress {
    margin-bottom: 4px;
}

#platesolving-status {
    .progress {
        height: 32px;
        position: relative;
        background-color: #333;
        background-image: linear-gradient(to bottom, #222222, #444444);


        .progress-content {
            color: gold;
            text-shadow: 1px 1px 1px black;
            position: absolute;
            top: 6px;
            left: 8px;
        }
    }
}

.toggleproperty-add-remove.property-like {
    display: block;
    margin: 16px 0;

    button, a {
        width: 100%;
        font-size: 16px;
        line-height: 48px;
        padding: 4px 0;
    }
}

a.index-section-link {
    padding: 0 1px;
}

.horizontal-separator {
    padding: 0 @spacer-medium;
    color: #404040;
}

.btn.active, .btn:active {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.33) inset, 0 -2px 2px rgba(255, 255, 255, 0.1) inset;
}

.btn-primary:active, .btn-primary.active {
    color: #FF7F50;
}

ul.astrobin-users {
    list-style: none;
    margin: 0;

    li {
        float: left;
        padding: 2px;
    }
}

.user-card {
    position: relative;
}

.user-card .stats {
    margin-top: @spacer-large;
}

.user-card-inline {
    margin: 0 32px 32px 0;

    .avatar {
        float: left;
    }

    #profile-details {
        float: left;
        margin-top: 0;
        margin-left: 16px;

        li {
            padding: 0;

            a {
                padding-top: 0;
                padding-bottom: 0;
            }

            .property-follow {
                float: left;
                margin: 4px 8px 0 12px
            }
        }
    }
}

.astrobin-users.user-list {
    li {
        float: none;
        width: 100%;
        overflow: hidden;
        padding: 10px 0;
        border-bottom: 1px solid #404040;

        .user-list-item {
            position: relative;

            .avatar {
                float: left;
                margin-right: 16px;
            }

            .name {
                font-weight: bold;
            }

            .info {
                color: #777;
                font-size: 90%;
            }

            .follow {
                position: absolute;
                right: 4px;
                top: 10px;
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

#upload-revision-form {
    .spinner {
        margin-left: 6px;
    }
}

.sky-plot .image {
    text-align: center;

    img {
        .grayscale;
    }
}

.form-donate {
    padding: 8px;

    label {
        display: block;
        text-align: left;
        font-style: italic;
        font-weight: bold;
    }

    input.button {
        padding-left: 8px;
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(0,0,0,0));
    margin: 25px;
    width: 100%;
}

.label.thank-you-for-your-support {
    display: block;
    padding: 8px;
    margin: 18px 0;
    text-align: center;

    a {
        color: lightgreen;
        border-bottom: 1px dotted lightgreen;
    }
}

.alert-please-donate {
    text-align: center;
}

img.flickr-photo-to-import-selected {
    border: 1px solid white;
}

.tooltip-inner {
    max-width: none;
}

.image-navigation {
    font-size: 18px;

    &.disabled a {
        color: #D56D62 !important;
        pointer: none;
    }
}

/* --- Topic/Forum table --- */
table.forums, table.topic-list {
    table-layout: fixed;

    th, td {
        white-space: nowrap;
        text-overflow: clip;
        overflow: hidden;

        &.forum-topic-count, &.forum-post-count, &.topic-post-count, &.topic-view-count {
            width: 10%;
        }

        &.forum-last-post, &.topic-last-post, &.topic-author {
            width: 15%;
        }
    }
}

th.forum-name {
    font-size: 18px;
}

.forum-description {
    margin: 5px;
    font-size: @base-font-size - 2;
}

.forum-row, .topic-row {
    width: 100%;
}

.forum-topic-count, .forum-post-count, .topic-post-count, .topic-view-count {
    text-align: center !important;
}

.forum-last-post, .topic-last-post {
    text-align: right !important;
}

.first-unread-post-link {
    color: lighten(@link-color, 40%);
    text-decoration: none;
    font-weight: bold;
    padding-right: 4px;
}

.first-unread-post-link {
    color: lighten(@link-color, 10%);
}

.posts {
}

.post {
    margin: 0 0 12px 0;
}

.post-header {
    th {
        position: relative;
        padding: 0 20px !important;
        height: 60px;
        vertical-align: middle !important;
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .post-author {
        font-size: 16px;
        line-height: 18px;
    }

    .post-updated {
        color: #999;
        font-size: 11px;
        font-weight: normal;
    }
}

.post tbody tr:hover td {
    background-color: inherit !important; // Cancel bootstrap's on-hover highlight
}

.post-info {
    width: 220px;

    .post-author {
        font-size: @base-font-size + 1;
        padding: 5px 0;
    }

    .post-extra-info {
        font-size: @base-font-size - 2;
        color: #777;
    }
}

.post-content {
    padding: 18px !important;
    color: #ddd;

    ul, ol {
        list-style: initial;
    }

    blockquote {
        background-color: #222;
        padding: 10px 20px 10px 60px;
        border: 1px solid #555;
        position: relative;
        min-height: 34px;
    }

    blockquote:before {
        display: block;
        content: "\201C";
        font-size: 120px;
        position: absolute;
        left: 4px;
        top: 50px;
        color: #444;
        font-family: Georgia;
    }
}

.post-signature {
    color: #CCC;
    margin-top: 15px;
    border-top: 1px dotted #CCC;
    display: block;
}

.post-related {
    margin-top: 20px;
    .btn {
        font-size: 10px;
        text-transform: uppercase;
        font-style: italic;
        background: #3C3C3C;
        border: 1px solid #323232;
        color: #B0B0B0;
        text-shadow: 0 0 2px black;
    }

    .btn-primary {
        color: white;
        background: @link-color;
    }

    .btn-danger {
        color: white;
        background: red;
    }
}

.forum-headline {
    margin-top: 10px;
}

.attachments-form {
    padding-bottom: 15px;
}

.attachment-link {
    border-bottom: 1px dotted;
}

/* --- Unread --- */

.state-indicator {
    display: block;
    float: left;
    background-color: #555;
    height: 10px;
    width: 10px;
    .border-radius(5px);
    margin: 3px 5px;
}

.topic-unread, .forum-unread {
    a {
        font-weight: bold;
    }
    .state-indicator {
        background-color: @link-color;
    }
}

/* --- Moderation --- */
.on-moderation {
    background: #ffcccc;
}

/* --- Mini pagination --- */
.mini-pagination {
    padding: 3px 0 3px 10px;
    font-size: @base-font-size - 2;
}

#mark-all-as-read, #controls {
    margin-top: 24px;
}

#mark-all-as-read, .topic .controls, .forum .controls {
    padding-top: 12px;
    margin-top: 8px;
    border-top: 1px solid #393939;
}

#mark-all-as-read, .topic .controls, .post-control {
    a {
        padding: 4px 12px;
        margin-right: 4px;
        font-size: 10px;
        text-transform: uppercase;
        font-style: italic;
        color: lighten(@link-color, 50%);
        background: darken(@link-color, 5%);
        border: 1px solid darken(@link-color, 15%);
        .rounded-corners;
    }
}

.topic-state, .forum-status {
    width: 20px;
}

table.post th.post-avatar {
    width: 80px;
}

.post-form {
    margin-top: 40px;
    li {
        list-style: initial;
    }

    input, textarea, select { width: 98%; }
    input[type="submit"] { width: auto;}
    .submit { margin-top: 24px; }
}

.topic h1, .forum h1, .category h1 {
    margin: 24px 0 8px 0;
    font-size: 24px;
}

.post-content .updated-message {
    color: #777;
    font-size: x-small;
    margin-top: 20px;
}

.breadcrumb li { color: @background-color; }
.field-errors { color: red; }

pre {
    background-color: #191919;
    color: #eee;
}

.post-form #emoticons {
    margin-top: 8px;
}

.wysibb {
    color: #ddd;
    background: #404040 !important;
    border: 1px solid #282828 !important;
    .rounded-corners(4px);

    .wysibb-toolbar, .wysibb-toolbar-container {
        border-bottom-color: #555 !important;
        border-right-color: #555 !important;
    }

    .wysibb-toolbar-container:hover,
    .wysibb-toolbar-container .wysibb-toolbar-btn:hover,
    .wysibb-toolbar-container .wysibb-toolbar-btn .btn-text:hover {
        color: #333;
    }

    .wysibb-text-editor {
        padding: 8px;
    }
}

.wbb-button {
    background: @link-color !important;
    border-color: darken(@link-color, 10%) !important;

    &:hover {
        background: darken(@link-color, 5%) !important;
    }
}

#wbbmodal label, #wbbmodal .div-modal-text {
    color: #666;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
    color: #ddd;
    text-shadow: 0 1px 0 black;
}

.table.migrate-donations {
    margin-bottom: 30px;
}
