{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap_toolkit %}

{% block title %}{% trans "Apply a watermark to image" %}{% endblock %}

{% block content %}
    {% include 'image/edit/menu.html' %}

    <h1>
        {% blocktrans %}Apply a watermark to image{% endblocktrans %}
    </h1>

    <div class="well">
        {% blocktrans %}AstroBin can protect your images from theft by applying a watermark to them. Be careful with your settings though: once a watermark has been applied, it cannot be removed (AstroBin won't store the non-watermarked version of your image, for your safety). If you don't like the watermark resulting from the following settings, your only choice is to delete the image and start over.{% endblocktrans %}
        {% blocktrans %}Please note: animated GIFs cannot be watermarked at this time.{% endblocktrans %}
    </div>

    <form class="form-horizontal" action="{% url image_edit_save_watermark %}" method="post">{% csrf_token %}
        {{form|as_bootstrap}}
        <input type="hidden" name="image_id" value="{{image.id}}" />

        <div class="form-actions">
            <input
                class="btn btn-primary"
                type="submit"
                value=
                {% if image.title %}
                    "{% trans "Save" %} &rarr;"
                {% else %}
                    "{% trans "Next step: basic information" %} &rarr;"
                {% endif %}
            />

            {% if image.title %}
                <a class="btn" href="{{image.get_absolute_url}}">{% trans "Cancel" %}</a>
            {% endif %}

            {% if image.title %}
                <p class="help-block">
                    {% trans "Warning!" %}
                    {% trans "This operation might take several seconds." %}
                </p>
            {% endif %}
        </div>
    </form>
{% endblock %}
