{% load i18n %}
{% load common_tags %}
{% load tags %}
{% load url from future %}

<div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-eye-open icon-white"></i>
                {% trans "View" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% ifequal request.user user %}
                    {% if is_producer or is_retailer %}
                        <li>
                            <a href="{% url 'user_page_commercial_products' request.user %}">
                                <i class="icon-barcode"></i>
                                {% trans "Commercial products" %}
                            </a>
                        </li>
                    {% endif %}
                {% endifequal %}
                <li>
                    <a href="{% url 'user_page' user %}{% query_string "public=" "sub,active" %}">
                        <i class="icon-picture"></i>
                        {% trans "Gallery" %}
                    </a>
                </li>
                {% if rawdata_has_subscription %}
                <li>
                    <a href="{% url 'rawdata.library' %}">
                        <i class="icon-book"></i>
                        {% trans "Raw data library" %}
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'user_page_bookmarks' user %}">
                        <i class="icon-bookmark"></i>
                        {% trans "Bookmarks" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'user_page_plots' user %}">
                        <i class="icon-bar-chart"></i>
                        {% trans "Plots" %}
                    </a>
                </li>

                {% ifequal user request.user %}
                <li class="divider"></li>
                <li>
                    <a href="{% query_string "" "sub,active,staging" %}">
                        <i class="icon-bullhorn"></i>
                        {% trans "Public Area" %}
                    </a>
                </li>
                <li>
                    <a href="{% query_string "staging=" "sub,public,active" %}">
                        <i class="icon-lock"></i>
                        {% trans "Staging Area" %}
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{% url 'user_page_api_keys' user %}">
                        <i class="icon-key"></i>
                        {% trans "API Keys" %}
                    </a>
                </li>
                {% endifequal %}

                <li class="divider"></li>
                <li>
                    <a href="{% url 'user_page_following' user %}">
                        <i class="icon-eye-open"></i>
                        {% trans "Following" %}
                    </a>

                <li>
                    <a href="{% url 'user_page_followers' user %}">
                        <i class="icon-eye-open"></i>
                        {% trans "Followers" %}
                    </a>
                </li>
            </ul>
        </li>

        {% if request.user != user and request.user.is_authenticated %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user icon-white"></i>
                {% trans "User" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="send-private-message" href="{% url 'messages_compose_to' user %}{% query_string "next=request.path" "" %}">
                        <i class="icon-envelope"></i>
                        {% trans "Send private message" %}
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}

        <li class="dropdown" style="visibility: {% in_gallery request %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-sort icon-white"></i>
                {% trans "Sort" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% query_string "public=,sub=uploaded" "staging,active" %}">
                    <i class="icon-upload-alt"></i>
                    {% trans "Upload time" %}</a></li>
                <li><a href="{% query_string "public=,sub=acquired" "staging,active" %}">
                    <i class="icon-time"></i>
                    {% trans "Acquisition time" %}</a></li>
                <li><a href="{% query_string "public=,sub=subject" "staging,active" %}">
                    <i class="icon-tags"></i>
                    {% trans "Subject type" %}</a></li>
                <li><a href="{% query_string "public=,sub=year" "staging,active" %}">
                    <i class="icon-calendar"></i>
                    {% trans "Year" %}</a></li>
                <li><a href="{% query_string "public=,sub=gear" "staging,active" %}">
                    <i class="icon-cog"></i>
                    {% trans "Gear" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% query_string "public=,sub=nodata" "staging,active" %}">
                    <i class="icon-warning-sign"></i>
                    {% trans "Lacking data" %}</a></li>
            </ul>
        </li>

        <li class="pull-right">
            {% ifequal request.GET.view 'list' %}
                <a href="{% query_string "" "view" %}">
                    <i class="icon-th"></i>
                </a>
            {% else %}
                <a href="{% query_string "view=list" "" %}">
                    <i class="icon-list"></i>
                </a>
            {% endifequal %}
        </li>
    </ul>
</div>
