{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap_toolkit %}

{% block title %}AstroBin - {% trans "Edit your basic information" %}{% endblock %}
{% block content %}
    <div class="row">
        {% include 'profile-edit-menu.html' %}
        <div class="span9">
            <form class="form-horizontal" method="post" action="{% url profile_save_basic %}">{% csrf_token %}
                {{form|as_bootstrap}}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="{% trans "Save" %}" />
                    {% comment %}We should use {% url password_change %} or something.{% endcomment %}
                    <a class="btn" href="/accounts/password/change/">{% trans "Change your password" %}</a>
                    <a class="btn btn-danger" href="{% url profile_delete %}">{% trans "Delete account" %}</a>
                </div>
            </form>
        </div> <!-- span12 -->
    </div> <!-- row -->
{% endblock %}

{% block extra_js %}
    <script language="javascript">
        $(document).ready(function() {
            var selects = $("select#id_timezone");
            if (selects.length > 0 && selects.val() == "") {
             var offset_minutes = new Date().getTimezoneOffset();
             var offset = 100 * offset_minutes / 60;
             var default_value = _first_timezone_match(selects, offset);
             selects.val(default_value);
            }

            function _first_timezone_match(selects, offset) {
             var match = "";
             selects.find("option").each(function() {
              // ex: "(GMT-0500) America/New_York"
              if ($(this).text().indexOf(offset) > 0) {
               match = $(this).val();
              }
             });
             return match;
            }

            {% ifequal 'rn' request.GET.hl %}
                $('label[for=id_real_name]').parent().addClass('error');
            {% endifequal %}
        });
    </script>
{% endblock %}

